::ng-deep dx-data-grid {
  &#gridContainer {
    // height: 100%;
    height: calc(100% - 50px) !important;
  }
}
::ng-deep a {
  span.ng-star-inserted {
    text-decoration: underline;
  }

  span.ng-star-inserted:hover {
    color: #40a9ff;
  }
}
