<dx-data-grid id="gridContainer" [dataSource]="listAllNotifications" #listNotifications [showColumnLines]="true"
  [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
  [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxo-paging [pageSize]="20"> </dxo-paging>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
    [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
    [showNavigationButtons]="showNavButtons"></dxo-pager>


  <dxo-header-filter [visible]="false"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>

  <dxi-column cssClass="text-center" caption="Thao tác" [fixed]="true" [width]="170" fixedPosition="right"
    cellTemplate="cellBtnTemplate"></dxi-column>
  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
    [allowSorting]="false"></dxi-column>
  <dxi-column caption="Thời gian thực hiện" dataField="datelog" [fixed]="true"
    [format]="Constant.DATE_FULL_DATA_LOG"></dxi-column>
  <dxi-column caption="Nội dung thông báo" dataField="contentNotification" [fixed]="true"></dxi-column>
  <div *dxTemplate="let item of 'cellBtnTemplate'" style="display: flex; justify-content: space-evenly;">
    <a nz-button nzType="link" [style.color]="item.data.readed? ColorTextViewDetailNotifications[NotificationVHLEnum.READ] : ColorTextViewDetailNotifications[NotificationVHLEnum.UNREAD]">Xem chi tiết
    </a>
  </div>
  <dxo-summary>
    <dxi-total-item column="datelog" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>
