<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Danh sách book vé yêu cầu</h1>

    <div style="display: flex; justify-content: center;">
      <div style="display: flex; align-items: center; font-size: larger;">Trạng thái</div>
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Trạng thái" style="width: 200px; margin-left: 0.5rem;"
        [(ngModel)]="payloadAdminrequestbooking.status" (ngModelChange)="getListData()">
        <nz-option *ngFor="let option of AIRLINE_TICKET_BOOKING_REQUEST_STATUS_OPTIONS" [nzLabel]="option.label"
          [nzValue]="option.value"></nz-option>
      </nz-select>
    </div>
  </div>
  <!-- <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Đối tượng user--" style="width: 200px;"
    [(ngModel)]="userType" (ngModelChange)="getListData()">
    <nz-option nzLabel="--Tất cả--" [nzValue]="userTypeEnum.All"></nz-option>
    <nz-option nzLabel="TK Quản trị Hệ thống" [nzValue]="userTypeEnum.SysAdmin"></nz-option>
    <nz-option nzLabel="TK Nhân viên" [nzValue]="userTypeEnum.StaffVhl"></nz-option>
    <nz-option nzLabel="TK Đối tác" [nzValue]="userTypeEnum.Partner"></nz-option>
    <nz-option nzLabel="TK khách hàng" [nzValue]="userTypeEnum.User"></nz-option>
  </nz-select> -->
  <div class="form-group" style="float: right; display: flex; float: right">
    <!-- Tìm kiếm -->
    <!-- <input style="width: 200px; border-radius: 4px; height: 32px; margin-right: 10px;" nzSize="small" nz-input
      type="text" [(ngModel)]="searchText" (keyup)="onSearch()"
      placeholder="Tìm kiếm theo Tên người đặt vé, SĐT, Email ..."> -->



    <!-- Nút xuất Excel -->
    <!-- <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button> -->
  </div>
</div>

<dx-data-grid id="gridContainer" [dataSource]="filteredDatas" #ListAccount [showColumnLines]="true"
  [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
  [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
  (onExporting)="onExporting($event)" (onCellPrepared)="onRowPrepared($event)">
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxo-paging [pageSize]="20"> </dxo-paging>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
    [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
    [showNavigationButtons]="showNavButtons"></dxo-pager>


  <dxi-column caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false" [allowSorting]="false"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Thời gian gửi yêu cầu" dataField="dateCreated" [fixed]="true" dataType="date"
    format="dd/MM/yyyy HH:mm" cssClass="text-left"></dxi-column>

  <dxi-column caption="Ngày đi" dataField="departureDay" [fixed]="true" dataType="date" format="dd/MM/yyyy"
    cssClass="text-left"></dxi-column>

  <dxi-column caption="Ngày về" dataField="returnDay" [fixed]="true" dataType="date" format="dd/MM/yyyy"
    cssClass="text-left" ></dxi-column>

  <dxi-column caption="Thông tin người đặt" dataField="userCreatedName" [fixed]="true" cssClass="text-left"></dxi-column>

  <dxi-column caption="Trạng thái" dataField="status" [fixed]="true" cssClass="text-left vertical-align-middle"
    cellTemplate="cellStatus"></dxi-column>
  <div *dxTemplate="let status of 'cellStatus'" style="display: flex;">
    <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Trạng thái" style="width: 200px; margin-left: 0.5rem;"
      [(ngModel)]="status.value" (ngModelChange)="handleChangeStatusByItem(status)"
      [title]="status.data.notes ? status.data.notes : ''">

      <nz-option [nzLabel]="'Gửi yêu cầu'" [nzValue]="BookingRequestStatusEnum.SubmitRequest" *ngIf="(
        status.value == BookingRequestStatusEnum.SubmitRequest ||
        status.value == BookingRequestStatusEnum.ReserveSeat
        )"></nz-option>

      <nz-option [nzLabel]="'Giữ chỗ'" [nzValue]="BookingRequestStatusEnum.ReserveSeat" *ngIf="(
          status.value == BookingRequestStatusEnum.SubmitRequest ||
          status.value == BookingRequestStatusEnum.ReserveSeat
          )">
      </nz-option>

      <nz-option [nzLabel]="'Đã xác nhận vé'" [nzValue]="BookingRequestStatusEnum.ReceivedTicket"
        *ngIf="(status.value == BookingRequestStatusEnum.ReceivedTicket)"></nz-option>

      <nz-option [nzLabel]="'Hết hạn giữ vé'" [nzValue]="BookingRequestStatusEnum.ExpiredTicket"
        *ngIf="(status.value == BookingRequestStatusEnum.ExpiredTicket)"></nz-option>

      <nz-option [nzLabel]="'Điều chỉnh vé'" [nzValue]="BookingRequestStatusEnum.AdjustTicket" *ngIf="(
        status.value == BookingRequestStatusEnum.AdjustTicket ||
        status.value == BookingRequestStatusEnum.ReserveSeat ||
        status.value == BookingRequestStatusEnum.ReceivedTicket)"></nz-option>

      <nz-option [nzLabel]="'Xuất vé'" [nzValue]="BookingRequestStatusEnum.IssuedTicket" *ngIf="(
        status.value == BookingRequestStatusEnum.IssuedTicket ||
        status.value == BookingRequestStatusEnum.ReceivedTicket)"></nz-option>

      <nz-option [nzLabel]="'Xuất vé thất bại'" [nzValue]="BookingRequestStatusEnum.FailureTicket" *ngIf="(
        status.value == BookingRequestStatusEnum.FailureTicket  ||
        status.value == BookingRequestStatusEnum.ReserveSeat
        )"></nz-option>
    </nz-select>
    <!-- <container-element [ngSwitch]="status.value">
      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.SubmitRequest">
        Gửi yêu cầu
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.ReserveSeat">
        Đang giữ chỗ
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.ReceivedTicket">
        Đã nhận vé
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.ExpiredTicket">
        Hết hạn giữ vé
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.IssuedTicket">
        Đã xuất vé
      </some-element>

      <some-element *ngSwitchDefault>
        Không xác định
      </some-element>
    </container-element> -->
  </div>

  <dxi-column caption="Mã phê duyệt" dataField="approvalCode" cssClass="vertical-align-middle" [width]="150"></dxi-column>

  <dxi-column caption="Mã đặt chỗ" cssClass="vertical-align-middle" [width]="150" cellTemplate="cellReservationCode"></dxi-column>
  <div *dxTemplate="let item of 'cellReservationCode'">
    {{item.data.reservationCode}}{{ item.data.returnReservationCode ? ", " + item.data.returnReservationCode : "" }}
  </div>




  <dxi-column caption="Chi phí vé" [width]="150" dataField="ticketPriceTotal" [format]="formatCurrencyVND"
    cssClass="text-center  vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí hoàn vé" [width]="150" dataField="refundFeeTotal" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí huỷ vé" [width]="150" dataField="cancelFeeTotal" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí đổi vé" [width]="150" dataField="changeFeeTotal" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí thêm hành lý" [width]="200" dataField="baggageFeeTotal" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Thao tác" [width]="200" cellTemplate="cellBtnTemplate"
    cssClass="text-center vertical-align-middle" [fixed]="true" fixedPosition="right"></dxi-column>
  <div *dxTemplate="let item of 'cellBtnTemplate'" style="display: flex; justify-content: space-evenly;">

    <button title="Xem thông tin yêu cầu" nz-button nzSize="small" nzType="default"
      (click)="showPopupViewRequestBookingTicket(item.data)">
      <span class="fa fa-eye fa-fw"></span>
    </button>

    <button *ngIf="
    (item.data.status == BookingRequestStatusEnum.ReserveSeat) ||
    (item.data.status == BookingRequestStatusEnum.AdjustTicket)" title="Cập nhật thông tin vé đặt" nz-button
      nzSize="small" nzType="default" (click)="showPopupAirlineTicket(item.data, OptionAirlineTicketInfoEnum.Update)">
      <span class="fa fa-edit fa-fw"></span>
    </button>

    <button *ngIf="
    (item.data.status == BookingRequestStatusEnum.ReserveSeat ||
    item.data.status == BookingRequestStatusEnum.ReceivedTicket ||
    item.data.status == BookingRequestStatusEnum.ExpiredTicket ||
      item.data.status == BookingRequestStatusEnum.IssuedTicket
    )" title="Xem thông tin vé đặt" nz-button nzSize="small" nzType="default"
      (click)="showPopupAirlineTicket(item.data, OptionAirlineTicketInfoEnum.View)">
      <span class="fa fa-ticket-alt fa-fw"></span>
    </button>

    <!-- <button *ngIf="
    (item.data.status == BookingRequestStatusEnum.IssuedTicket)" title="Cập nhật thông tin số vé" nz-button
      nzSize="small" nzType="default" (click)="showPopupUpdateNumberTicket(item.data)">
      <span class="fa fa-table fa-fw"></span>
    </button> -->

    <button title="Lịch sử" nz-button nzSize="small" nzType="default"
      (click)="previewPopupRequestBookingHistory(item.data)" [nzLoading]="item.data.isLoadingRequestBookingHistory">
      <span class="fa fa-history fa-fw"></span>
    </button>
  </div>

  <dxo-summary>
    <dxi-total-item column="contactName" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>


<nz-modal [(nzVisible)]="isVisibleRequestBookingHistory" nzTitle="Lịch sử thay đổi trạng thái đặt vé"
  [nzContent]="contentRequestBookingHistory" [nzFooter]="footer" nzWidth="750px" [nzStyle]="{ top: '20px' }"
  (nzOnCancel)="handleCancelPopupRequestBookingHistory()">
  <ng-template #contentRequestBookingHistory>
    <dx-data-grid id="gridRequestBookingHistory" [dataSource]="listRequestBookingHistories"
      #TagGridRequestBookingHistory [showColumnLines]="true" [showRowLines]="true" [height]="dxGridHeight"
      [rowAlternationEnabled]="true" [showBorders]="true" [allowColumnResizing]="true" columnResizingMode="widget"
      [columnMinWidth]="50" [columnAutoWidth]="true" (onExporting)="onExporting($event)">


      <dxo-load-panel [enabled]="true"></dxo-load-panel>`
      <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>

      <dxi-column caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
        [allowSorting]="false" cssClass="text-center vertical-align-middle"></dxi-column>
      <!-- <dxi-column caption="Trạng thái cũ" [fixed]="true" [width]="150" dataField="oldStatus"
        [format]="getLabelRequestBookingStatus" cssClass="vertical-align-middle"></dxi-column> -->
      <dxi-column caption="Trạng thái" [fixed]="true" dataField="newStatus" cssClass="vertical-align-middle"
        [width]="150" [format]="getLabelRequestBookingStatus"></dxi-column>
      <dxi-column caption="Người thực hiện" cssClass="vertical-align-middle" dataField="implementPerson"
        cellTemplate="cellImplementPerson"></dxi-column>
      <div *dxTemplate="let implementPerson of 'cellImplementPerson'" style="display: flex;">
        Id : {{implementPerson.value.id}}, Name: {{implementPerson.value.fullname}}
      </div>
      <dxi-column caption="Thời gian" dataField="implementTime" [width]="150" dataType="date" format="dd/MM/yy HH:mm"
        cssClass="vertical-align-middle"></dxi-column>

      <dxo-summary>
        <dxi-total-item column="oldStatus" displayFormat="Số bản ghi: {0}" summaryType="count">
        </dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </ng-template>
  <ng-template #footer> </ng-template>
</nz-modal>

<!-- Popup View/Update thông tin vé máy bay -->
<form [formGroup]="formAirlineTicketPopup">
  <!-- [(nzVisible)]="isVisibleAirlineTicketInfo" -->
  <nz-modal [(nzVisible)]="isVisibleAirlineTicketInfo" [nzContent]="contentAirlineTicketPopup" nzWidth="1506px"
    [nzStyle]="{ top: '20px' }" (nzOnCancel)="handleCancelArilineTicketPopup()">
    <div *nzModalTitle>
      {{optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.View ? "Xem" : "Cập nhật"}} thông tin vé máy bay
    </div>
    <ng-template #contentAirlineTicketPopup>
      <div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">Loại vé
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="inner-box">
              <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Loại vé--" formControlName="typeTicket"
                (ngModelChange)="handleChangeTypeTicket($event)">
                <nz-option nzLabel="Một chiều" [nzValue]="TypeAirlineTicketEnum.OneWay"></nz-option>
                <nz-option nzLabel="Khứ hồi" [nzValue]="TypeAirlineTicketEnum.RoundTrip"></nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box" style="float: right;">
              <label for="">Hành trình
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="14">
            <div class="inner-box">
              <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="tripItineraryDeparture">
            </div>
          </div>
        </div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">Hành khách
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="22">
            <div class="inner-box">
              <!-- <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="passengers"> -->
              <nz-select [nzMaxTagCount]="6" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                [nzTokenSeparators]="[',']" nzPlaceHolder="-- Khách hàng --" [nzDropdownRender]="renderTemplate"
                formControlName="passengers">
                <nz-option *ngFor="let passenger of listOfOptionPassengers" [nzLabel]="passenger.fullName"
                  [nzValue]="passenger"></nz-option>
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedList>và {{ selectedList.length }} khách hàng nữa...</ng-template>
              <ng-template #renderTemplate>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="container">
                  <div nz-col class="gutter-row" nzSpan="18">
                    <div class="inner-box">
                      <input type="text" nz-input #inputElementPassenger
                        (keyup.enter)="addItemPassenger(inputElementPassenger)" />
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="6">
                    <div class="inner-box">
                      <div style="display: flex; align-items: center;">
                        <a class="add-item" (click)="addItemPassenger(inputElementPassenger)">
                          <div style=" display: flex; height: 30px; align-items: center;">
                            <span nz-icon nzType="plus" style="line-height: normal; margin-right: 4px;"></span>
                            <span>Thêm mới khách hàng</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;"></div>
        <!-- 1. Thời điểm đi -->
        <div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">1. Thời gian đi
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="14">
              <div class="inner-box">
                <nz-range-picker [nzShowTime]="true" nzFormat="dd/MM/yyyy HH:mm" style="width: 100%;"
                  formControlName="flightTimeDeparture"></nz-range-picker>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hãng bay
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Hãng bay--"
                  formControlName="airlineCodeDeparture">
                  <nz-option *ngFor="let op of AIRLINE_CODE_OPTIONS; let i = index;" [nzLabel]="op.label"
                    [nzValue]="op.value"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Mã đặt chỗ đi
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="reservationCodeDeparture">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Mã CB
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="flightNumberDeparture">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hạn giữ vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <input style="border-radius: 4px;" nz-input nzSize="default"
                  formControlName="ticketHoldExpiryDateDeparture"> -->
                <nz-date-picker [nzShowTime]="true" formControlName="ticketHoldExpiryDateDeparture" nzSize="default"
                  style="width: 100%;" nzFormat="dd/MM/yyyy HH:mm" placeholder="Hạn giữ vé"
                  [nzDisabledDate]="disabledHoldExpiryDateDepartureDate" [nzNowText]="'Bây giờ'"
                  [nzOkText]="'OK'"></nz-date-picker>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Giá vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="10">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="ticketPriceDeparture"
                    nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập giá vé"
                    (click)="onClickInputAmount($event, 'ticketPriceDeparture')"
                    (ngModelChange)="onChangeInputAmount($event, 'ticketPriceDeparture')" (blur)="onBlurInputAmount('ticketPriceDeparture')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='ticketPriceDeparture' placeholder="Nhập giá vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="3">
              <div class="inner-box" style="float: right;">
                <label for="">Phí thêm hành lý</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="9">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" plaeholder=""
                    formControlName="baggageFeeDeparture" nz-tooltip nzTooltipTrigger="focus"
                    nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập phí hành lý"
                    (click)="onClickInputAmount($event, 'baggageFeeDeparture')"
                    (ngModelChange)="onChangeInputAmount($event, 'baggageFeeDeparture')" (blur)="onBlurInputAmount('baggageFeeDeparture')">
                </nz-input-group> -->
                <dx-number-box [min]="0" formControlName='baggageFeeDeparture' placeholder="Nhập phí hành lý"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Phí hoàn vé

                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                    formControlName="refundFeeDeparture" nz-tooltip nzTooltipTrigger="focus"
                    nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập phí huỷ vé"
                    (click)="onClickInputAmount($event, 'refundFeeDeparture')"
                    (ngModelChange)="onChangeInputAmount($event, 'refundFeeDeparture')" (blur)="onBlurInputAmount('refundFeeDeparture')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='refundFeeDeparture' placeholder="Nhập phí huỷ vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí huỷ vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                    formControlName="cancelFeeDeparture" nz-tooltip nzTooltipTrigger="focus"
                    nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập phí huỷ vé"
                    (click)="onClickInputAmount($event, 'cancelFeeDeparture')"
                    (ngModelChange)="onChangeInputAmount($event, 'cancelFeeDeparture')" (blur)="onBlurInputAmount('cancelFeeDeparture')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='cancelFeeDeparture' placeholder="Nhập phí huỷ vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí đổi vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="changeFeeDeparture"
                    nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập phí đổi vé"
                    (click)="onClickInputAmount($event, 'changeFeeDeparture')"
                    (ngModelChange)="onChangeInputAmount($event, 'changeFeeDeparture')" (blur)="onBlurInputAmount('changeFeeDeparture')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='changeFeeDeparture' placeholder="Nhập phí đổi vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="ticketRoundTrip" style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;">
        </div>
        <!-- 2. Thời điểm về -->
        <div *ngIf="ticketRoundTrip">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">2. Thời gian về
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="14">
              <div class="inner-box">
                <nz-range-picker [nzShowTime]="true" nzFormat="dd/MM/yyyy HH:mm" style="width: 100%;"
                  formControlName="flightTimeReturn"></nz-range-picker>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hãng bay
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Hãng bay--"
                  formControlName="airlineCodeReturn">
                  <nz-option *ngFor="let op of AIRLINE_CODE_OPTIONS; let i = index;" [nzLabel]="op.label"
                    [nzValue]="op.value"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Mã đặt chỗ về
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="reservationCodeReturn">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Mã CB
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="flightNumberReturn">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hạn giữ vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <input style="border-radius: 4px;" nz-input nzSize="default"
                  formControlName="ticketHoldExpiryDateReturn"> -->
                <nz-date-picker nzShowTime formControlName="ticketHoldExpiryDateReturn" nzSize="default"
                  style="width: 100%;" nzFormat="dd/MM/yyyy HH:mm" placeholder="Hạn giữ vé" [nzNowText]="'Bây giờ'"
                  [nzOkText]="'OK'"></nz-date-picker>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Giá vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="10">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nzSize="default" formControlName="ticketPriceReturn" nz-input
                    nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập giá vé"
                    (click)="onClickInputAmount($event, 'ticketPriceReturn')"
                    (ngModelChange)="onChangeInputAmount($event, 'ticketPriceReturn')" (blur)="onBlurInputAmount('ticketPriceReturn')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='ticketPriceReturn' placeholder="Nhập giá vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="3">
              <div class="inner-box" style="float: right;">
                <label for="">Phí thêm hành lý</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="9">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="baggageFeeReturn"
                    nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập phí thêm hành lý"
                    (click)="onClickInputAmount($event, 'baggageFeeReturn')"
                    (ngModelChange)="onChangeInputAmount($event, 'baggageFeeReturn')" (blur)="onBlurInputAmount('baggageFeeReturn')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='baggageFeeReturn' placeholder="Nhập phí thêm hành lý"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Phí hoàn vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="refundFeeReturn"
                    nz-input nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft"
                    nzOverlayClassName="numeric-input" [nzTooltipTitle]="tooltipTitleAmount"
                    placeholder="Nhập phí hoàn vé" (click)="onClickInputAmount($event, 'refundFeeReturn')"
                    (ngModelChange)="onChangeInputAmount($event, 'refundFeeReturn')" (blur)="onBlurInputAmount('refundFeeReturn')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='refundFeeReturn' placeholder="Nhập phí hoàn vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí huỷ vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="cancelFeeReturn"
                    nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập phí huỷ vé"
                    (click)="onClickInputAmount($event, 'cancelFeeReturn')"
                    (ngModelChange)="onChangeInputAmount($event, 'cancelFeeReturn')" (blur)="onBlurInputAmount('cancelFeeReturn')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='cancelFeeReturn' placeholder="Nhập phí huỷ vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí đổi vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <!-- <nz-input-group nzSuffix="VND">
                  <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="changeFeeReturn"
                    nz-tooltip nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" nzOverlayClassName="numeric-input"
                    [nzTooltipTitle]="tooltipTitleAmount" placeholder="Nhập phí đổi vé"
                    (click)="onClickInputAmount($event, 'changeFeeReturn')"
                    (ngModelChange)="onChangeInputAmount($event, 'changeFeeReturn')" (blur)="onBlurInputAmount('changeFeeReturn')">
                </nz-input-group> -->

                <dx-number-box [min]="0" formControlName='changeFeeReturn' placeholder="Nhập phí đổi vé"
                  format="#,##0 VNĐ"></dx-number-box>

              </div>
            </div>
          </div>
        </div>

        <div style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;"></div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">File vé máy bay
                <!-- <em class="fa fa-asterisk required" style="line-height: revert;"></em> -->
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="22">
            <div class="inner-box">
              <div>
                <nz-upload class="upload-list-inline" [nzMultiple]="true" [nzAction]="uploadUrlFlightTicket"
                  nzName="postedFile" [nzHeaders]="uploadHeader" [nzRemove]="handleRemoveFileTicketBookingRequest"
                  (nzChange)="handleUploadFileTicketBookingRequest1($event)" [nzFileList]="fileFlightTicketList"
                  [nzShowUploadList]="showUploadListOption">
                  <button *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update" nz-button>
                    <span nz-icon nzType="upload"></span>
                    Nhấn để tải file
                  </button>
                </nz-upload>
              </div>
              <!-- <div>
                <nz-upload [nzMultiple]="true" [nzAction]="uploadUrl" nzName="postedFile" [nzHeaders]="uploadHeader"
                  [nzRemove]="handleRemoveFileTicketBookingRequest" [(nzFileList)]="fileList"
                  [nzBeforeUpload]="beforeUpload">
                  <button nz-button>
                    <span nz-icon nzType="upload"></span>
                    Nhấn để tải file
                  </button>
                </nz-upload>
                <button nz-button [nzType]="'primary'" [nzLoading]="uploading"
                  (click)="handleUploadFileTicketBookingRequest2($event)" [disabled]="fileList.length === 0"
                  style="margin-top: 16px">
                  {{ uploading ? 'Đang tải file...' : 'Bắt đầu tải file lên' }}
                </button>
              </div> -->
            </div>
          </div>
        </div>

        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">File hoá đơn
                <!-- <em class="fa fa-asterisk required" style="line-height: revert;"></em> -->
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="22">
            <div class="inner-box">
              <div>
                <nz-upload class="upload-list-inline" [nzMultiple]="true" [nzAction]="uploadUrlInvoice"
                  nzName="postedFile" [nzHeaders]="uploadHeader" [nzRemove]="handleRemoveFileInvoiceBookingRequest"
                  (nzChange)="handleUploadFileInvoiceBookingRequest1($event)" [nzFileList]="fileInvoiceList"
                  [nzShowUploadList]="showUploadListOption">
                  <button *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update" nz-button>
                    <span nz-icon nzType="upload"></span>
                    Nhấn để tải file
                  </button>
                </nz-upload>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelArilineTicketPopup()">
        <div style="display: flex; align-items: center;">
          <span nz-icon nzType="close"></span>
          <span *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.View"
            style="margin-left: 4px; line-height: normal;">Đóng</span>
          <span *ngIf=" optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update"
            style="margin-left: 4px; line-height: normal;">Huỷ</span>
        </div>
      </button>

      <button *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update" nz-button nzType="primary"
        [nzLoading]="isLoadingButtonSaveAirlineTicketInfo" (click)="handleSaveArilineTicketPopup()">
        <div style="display: flex; align-items: center;">
          <span nz-icon nzType="save"></span>
          <span style="margin-left: 6px; line-height: normal;">Lưu</span>
        </div>
      </button>
    </div>
  </nz-modal>
</form>

<!-- Popup cập nhật thông tin số vé cho -->
<nz-modal [(nzVisible)]="isVisiblePopupUpdateNumberTicket" [nzContent]="contentPopupUpdateNumberTicket" nzWidth="824px"
  [nzStyle]="{ top: '40px' }" (nzOnCancel)="handleCancelArilineTicketPopup()">
  <div *nzModalTitle>
    Cập nhật số vé
  </div>
  <ng-template #contentPopupUpdateNumberTicket>
    <div *ngIf="itemBookingRequest">
      <div *ngFor="let passenger of itemBookingRequest.passengers;let i = index;">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">Số vé
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="inner-box">
              <input style="width: 200px; border-radius: 4px; height: 32px; margin-right: 10px;" nzSize="small" nz-input
                type="text" [(ngModel)]="passenger.ticketNumber" placeholder="Nhập số vé cho chuyến bay">
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="4">
            <div class="inner-box" style="float: right;">
              <label for="">Khách hàng</label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="12">
            <div class="inner-box">
              {{passenger.fullName}}
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;"></div>
      </div>
    </div>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelPopupUpdateNumberTicket()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="close"></span>
        <span style="margin-left: 4px; line-height: normal;">Huỷ</span>
      </div>
    </button>

    <button nz-button nzType="primary" (click)="handleSavelPopupUpdateNumberTicket()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="save"></span>
        <span style="margin-left: 6px; line-height: normal;">Lưu</span>
      </div>
    </button>
  </div>
</nz-modal>

<!-- Popup xem thông tin đặt vé máy bay -->
<nz-modal [(nzVisible)]="isVisiblePopupViewRequestBookingTicket" [nzContent]="contentpViewRequestBookingTicket"
  nzWidth="1200px" [nzStyle]="{ top: '40px' }" (nzOnCancel)="handleCancelRequestBookingTicketPopup()">
  <div *nzModalTitle>
    Xem thông tin yêu cầu vé
  </div>
  <ng-template #contentpViewRequestBookingTicket>
    <div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="24">
              <div style="width: fit-content;">
                <span style="font-weight: 600; font-size: larger;">Thông tin người đặt</span>
                <div style="background-color: #188D47; height: 1px; width: 100%;"></div>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="8">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Mã người dùng</label>
                <div>
                  <span>{{ itemBookingRequest.userBooking.userCode }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Tên người dùng</label>
                <div>
                  <span>{{ itemBookingRequest.userBooking.fullname }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="8">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Công ty</label>
                <div>
                  <span>{{ itemBookingRequest.userBooking.companyName }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="24">
              <div style="width: fit-content;">
                <span style="font-weight: 600; font-size: larger;">Thông tin chuyến bay</span>
                <div style="background-color: #188D47; height: 1px; width: 100%;"></div>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="9">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">
                  Mã phê duyệt của tôi/Chi phí/Thời gian phê duyệt
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.approvalCode }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="5">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Loại vé
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.typeTicket | typeTicketPipe}} </span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="5">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Ngày đi
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.departureDay | dateFormat}}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="5"
              *ngIf="itemBookingRequest.typeTicket == TypeAirlineTicketEnum.RoundTrip">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Ngày về
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.returnDay | dateFormat}}</span>
                </div>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">
                  Điểm đi
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.startPoint | airlinePipe : airports}}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Điểm đến
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.endPoint | airlinePipe : airports }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Hãng bay
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.airlineCode | airportPipe }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Hạng chỗ
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.fareClass }}</span>
                </div>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">
                  Số lượng người lớn >= 12 tuổi
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.adt }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Số lượng trẻ em 2 - 11
                  tuổi</label>
                <div>
                  <span>{{ itemBookingRequest.chd }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Số lượng em bé < 24 tháng </label>
                    <div>
                      <span>{{ itemBookingRequest.inf }}</span>
                    </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Hành lý ký gửi
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ itemBookingRequest.baggage }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" nzSpan="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="24">
              <div style="width: fit-content;">
                <span style="font-weight: 600; font-size: larger;">Thông tin hành khách</span>
                <div style="background-color: #188D47; height: 1px; width: 100%;"></div>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
            *ngFor="let passenger of itemBookingRequest.passengers;let i = index;">
            <div nz-col class="gutter-row" nzSpan="5">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">1. Họ và tên
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ passenger.fullName }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Giới tính
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ passenger.gender | genderPipe}}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="5">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">
                  Email
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ passenger.email }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="5">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Số điện thoại
                  <span style="color: tomato; margin-left: 4px;">(*)</span>
                </label>
                <div>
                  <span>{{ passenger.phone }}</span>
                </div>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="5">
              <div class="inner-box">
                <label for="" style="font-weight: 600;">Mã thẻ thành viên</label>
                <div>
                  <span>{{ passenger.membership }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelRequestBookingTicketPopup()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="close"></span>
        <span style="margin-left: 4px; line-height: normal;">Đóng</span>
      </div>
    </button>

    <button *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update" nz-button nzType="primary"
      (click)="handleSaveArilineTicketPopup()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="save"></span>
        <span style="margin-left: 6px; line-height: normal;">Lưu</span>
      </div>
    </button>
  </div>
</nz-modal>
