<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Danh sách book vé yêu cầu</h1>

    <div style="display: flex; justify-content: center;">
      <div style="display: flex; align-items: center; font-size: larger;">Trạng thái</div>
      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Trạng thái" style="width: 200px; margin-left: 0.5rem;"
        [(ngModel)]="payloadAdminrequestbooking.status" (ngModelChange)="getListData()">
        <nz-option *ngFor="let option of AIRLINE_TICKET_BOOKING_REQUEST_STATUS_OPTIONS" [nzLabel]="option.label"
          [nzValue]="option.value"></nz-option>

      </nz-select>
    </div>
  </div>
  <!-- <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Đối tượng user--" style="width: 200px;"
    [(ngModel)]="userType" (ngModelChange)="getListData()">
    <nz-option nzLabel="--Tất cả--" [nzValue]="userTypeEnum.All"></nz-option>
    <nz-option nzLabel="TK Quản trị Hệ thống" [nzValue]="userTypeEnum.SysAdmin"></nz-option>
    <nz-option nzLabel="TK Nhân viên" [nzValue]="userTypeEnum.StaffVhl"></nz-option>
    <nz-option nzLabel="TK Đối tác" [nzValue]="userTypeEnum.Partner"></nz-option>
    <nz-option nzLabel="TK khách hàng" [nzValue]="userTypeEnum.User"></nz-option>
  </nz-select> -->
  <div class="form-group" style="float: right; display: flex; float: right">
    <!-- Tìm kiếm -->
    <input style="width: 200px; border-radius: 4px; height: 32px; margin-right: 10px;" nzSize="small" nz-input
      type="text" [(ngModel)]="searchText" (keyup)="onSearch()"
      placeholder="Tìm kiếm theo Tên người đặt vé, SĐT, Email ...">



    <!-- Nút xuất Excel -->
    <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button>
  </div>
</div>

<dx-data-grid id="gridContainer" [dataSource]="filteredDatas" #ListAccount [showColumnLines]="true"
  [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
  [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
  (onExporting)="onExporting($event)">
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxo-paging [pageSize]="10"> </dxo-paging>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
    [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
    [showNavigationButtons]="showNavButtons"></dxo-pager>

  <dxi-column caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false" [allowSorting]="false"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Mã yêu cầu" dataField="bookingCode" cssClass="text-left vertical-align-middle"></dxi-column>

  <dxi-column caption="Mã phê duyệt" dataField="approvalCode" cssClass="vertical-align-middle"
    [width]="150"></dxi-column>


  <dxi-column caption="Trạng thái" [width]="200" dataField="status" cssClass="text-left vertical-align-middle"
    cellTemplate="cellStatus"></dxi-column>
  <div *dxTemplate="let status of 'cellStatus'" style="display: flex;">
    <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Trạng thái" style="width: 200px; margin-left: 0.5rem;"
      [(ngModel)]="status.value" (ngModelChange)="handleChangeStatusByItem(status)">
      <nz-option [nzLabel]="'Gửi yêu cầu'" [nzValue]="BookingRequestStatusEnum.SubmitRequest"
        [nzDisabled]="!(status.value == BookingRequestStatusEnum.SubmitRequest)"></nz-option>

      <nz-option [nzLabel]="'Đang giữ vé'" [nzValue]="BookingRequestStatusEnum.ReserveSeat"
        [nzDisabled]="!(status.value == BookingRequestStatusEnum.SubmitRequest || status.value == BookingRequestStatusEnum.ReserveSeat)">
      </nz-option>
      <nz-option [nzLabel]="'Đã xác nhận giữ vé'" [nzValue]="BookingRequestStatusEnum.ReceivedTicket"
        [nzDisabled]="!(status.value == BookingRequestStatusEnum.ReceivedTicket)"></nz-option>

      <nz-option [nzLabel]="'Hết hạn giữ vé'" [nzValue]="BookingRequestStatusEnum.ExpiredTicket "
        [nzDisabled]="!(status.value == BookingRequestStatusEnum.ExpiredTicket)"></nz-option>

      <nz-option [nzLabel]="'Điều chỉnh vé'" [nzValue]="BookingRequestStatusEnum.AdjustTicket"
        [nzDisabled]="!(status.value == BookingRequestStatusEnum.AdjustTicket || status.value == BookingRequestStatusEnum.ReserveSeat || status.value == BookingRequestStatusEnum.ReceivedTicket)"></nz-option>

      <nz-option [nzLabel]="'Xuất vé'" [nzValue]="BookingRequestStatusEnum.IssuedTicket"
        [nzDisabled]="!(status.value == BookingRequestStatusEnum.IssuedTicket || status.value == BookingRequestStatusEnum.AdjustTicket || status.value == BookingRequestStatusEnum.ReceivedTicket)"></nz-option>
    </nz-select>
    <!-- <container-element [ngSwitch]="status.value">
      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.SubmitRequest">
        Gửi yêu cầu
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.ReserveSeat">
        Đang giữ chỗ
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.ReceivedTicket">
        Đã nhận vé
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.ExpiredTicket">
        Hết hạn giữ vé
      </some-element>

      <some-element *ngSwitchCase="AirlineTicketBookingRequestStatusEnum.IssuedTicket">
        Đã xuất vé
      </some-element>

      <some-element *ngSwitchDefault>
        Không xác định
      </some-element>
    </container-element> -->
  </div>

  <dxi-column caption="Chi phí vé" [width]="150" dataField="ticketPrice" [format]="formatCurrencyVND"
    cssClass="text-center  vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí hoàn vé" [width]="150" dataField="refundFee" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí huỷ vé" [width]="150" dataField="cancelFee" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí đổi vé" [width]="150" dataField="changeFee" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Chi phí thêm hành lý" [width]="200" dataField="baggageFee" [format]="formatCurrencyVND"
    cssClass="text-center vertical-align-middle"></dxi-column>

  <dxi-column caption="Thao tác" [width]="200" cellTemplate="cellBtnTemplate"
    cssClass="text-center vertical-align-middle"></dxi-column>
  <div *dxTemplate="let item of 'cellBtnTemplate'" style="display: flex; justify-content: space-evenly;">

    <button title="Xem thông tin đặt vé" nz-button nzSize="small" nzType="default"
      (click)="showPopupAirlineTicket(item.data, OptionAirlineTicketInfoEnum.View)">
      <span class="fa fa-eye fa-fw"></span>
    </button>

    <button title="Chỉnh sửa" nz-button nzSize="small" nzType="default"
      (click)="showPopupAirlineTicket(item.data, OptionAirlineTicketInfoEnum.Update)">
      <span class="fa fa-edit fa-fw"></span>
    </button>

    <button title="Vé máy bay" nz-button nzSize="small" nzType="default">
      <span class="fa fa-ticket-alt fa-fw"></span>
    </button>

    <button title="Lịch sử" nz-button nzSize="small" nzType="default">
      <span class="fa fa-history fa-fw"></span>
    </button>
  </div>

  <dxo-summary>
    <dxi-total-item column="contactName" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>


<nz-modal [(nzVisible)]="isVisibleDetailTransactionHistoryTickets" nzTitle="Thông tin chi tiết" [nzContent]="content"
  [nzFooter]="footer" nzWidth="1500px" (nzOnCancel)="handleCancel()">
  <ng-template #content>
    <dx-data-grid id="gridContainer" [dataSource]="listDetailTicket" #ListAccount [showColumnLines]="true"
      [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
      [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
      (onExporting)="onExporting($event)">


      <dxo-load-panel [enabled]="true"></dxo-load-panel>`
      <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>

      <dxi-column caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
        [allowSorting]="false" cssClass="text-center vertical-align-middle"></dxi-column>
      <dxi-column caption="Tên" [fixed]="true" [width]="150" dataField="firstName"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Họ" [fixed]="true" dataField="lastName" [width]="100"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Ngày sinh" dataField="dateOfBirth" [width]="150" dataType="date" format="dd/MM/yy"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Giới tính" dataField="gender" cssClass="text-center vertical-align-middle"></dxi-column>
      <dxi-column caption="Hãng bay" dataField="airlineName" [width]="150"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Số hiệu chuyến bay" dataField="flightNumber" [width]="200"
        cssClass="text-center vertical-align-middle"></dxi-column>
      <dxi-column caption="Xếp hạng sao" dataField="fareClass" [width]="100"
        cssClass="text-center vertical-align-middle"></dxi-column>
      <dxi-column caption="Cân nặng hành lý" dataField="baggageFee" [width]="100"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Thời gian cất cánh" dataField="startTime" [width]="200" dataType="date"
        format="HH:mm dd/MM/yy" cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Thời gian hạ cánh" dataField="endTime" [width]="200" dataType="date" format="HH:mm dd/MM/yy"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Hành trình" dataField="fromToPoint" [width]="150"
        cssClass="text-center vertical-align-middle"></dxi-column>
      <dxi-column caption="Giá vé" dataField="price" dataType="number" cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Giữ vé" cssClass="text-center" dataField="status" [width]="100" [fixed]="true"
        fixedPosition="right" cellTemplate="cellTicket"></dxi-column>
      <div *dxTemplate="let item of 'cellTicket'">
        <div *ngIf="item.data?.status === 'OK'" (click)="onOpenPopupTicketDetail(item.data)">
          <a nz-button nzType="link" nzBlock>Xem vé <span *ngIf="item.data.isLoadingViewTicket" nz-icon nzType="loading"
              nzTheme="outline"></span></a>
        </div>
        <div *ngIf="item.data?.status === 'FAIL'">
          Lỗi đặt vé
        </div>
      </div>
      <dxo-summary>
        <dxi-total-item column="contactName" displayFormat="Số bản ghi: {0}" summaryType="count">
        </dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </ng-template>

  <ng-template #footer> </ng-template>
</nz-modal>

<!-- Popup View/Update thông tin vé máy bay -->
<form [formGroup]="formAirlineTicketPopup">
  <!-- [(nzVisible)]="isVisibleAirlineTicketInfo" -->
  <nz-modal [(nzVisible)]="isVisibleAirlineTicketInfo" [nzContent]="contentAirlineTicketPopup" nzWidth="1506px"
    [nzStyle]="{ top: '20px' }" (nzOnCancel)="handleCancelArilineTicketPopup()">
    <div *nzModalTitle>
      {{optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.View ? "Xem" : "Cập nhật"}} thông tin vé máy bay
    </div>
    <ng-template #contentAirlineTicketPopup>
      <div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">Loại vé
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="inner-box">
              <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Loại vé--" formControlName="typeTicket">
                <nz-option nzLabel="Một chiều" [nzValue]="TypeAirlineTicketEnum.OneWay"></nz-option>
                <nz-option nzLabel="Khứ hồi" [nzValue]="TypeAirlineTicketEnum.RoundTrip"></nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box" style="float: right;">
              <label for="">Hành trình
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="14">
            <div class="inner-box">
              <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="tripItineraryDeparture">
            </div>
          </div>
        </div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">Hành khách
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="22">
            <div class="inner-box">
              <!-- <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="passengers"> -->
              <nz-select [nzMaxTagCount]="6" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="tags"
                [nzTokenSeparators]="[',']" nzPlaceHolder="-- Khách hàng --" [nzDropdownRender]="renderTemplate"
                formControlName="passengers">
                <nz-option *ngFor="let passenger of listOfOptionPassengers" [nzLabel]="passenger.fullName"
                  [nzValue]="passenger"></nz-option>
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedList>và {{ selectedList.length }} khách hàng nữa...</ng-template>
              <ng-template #renderTemplate>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="container">
                  <div nz-col class="gutter-row" nzSpan="18">
                    <div class="inner-box">
                      <input type="text" nz-input #inputElementPassenger />
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="6">
                    <div class="inner-box">
                      <a class="add-item" (click)="addItemPassenger(inputElementPassenger)">
                        <span nz-icon nzType="plus"></span>
                        Thêm mới khách hàng
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;"></div>
        <!-- 1. Thời điểm đi -->
        <div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">1. Thời gian đi
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="14">
              <div class="inner-box">
                <nz-range-picker [nzShowTime]="true" style="width: 100%;"
                  formControlName="flightTimeDeparture"></nz-range-picker>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hãng bay
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Hãng bay--"
                  formControlName="airlineCodeDeparture">
                  <nz-option *ngFor="let op of AIRLINE_CODE_OPTIONS; let i = index;" [nzLabel]="op.label"
                    [nzValue]="op.value"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Mã đặt chỗ đi
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="reservationCodeDeparture">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Mã CB
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="flightNumberDeparture">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hạn giữ vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default"
                  formControlName="ticketHoldExpiryDateDeparture">
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Giá vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="10">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="ticketPriceDeparture">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="3">
              <div class="inner-box" style="float: right;">
                <label for="">Phí thêm hành lý</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="9">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" plaeholder=""
                  formControlName="baggageFeeDeparture">
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Phí hoàn vé

                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                  formControlName="refundFeeDeparture">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí huỷ vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                  formControlName="cancelFeeDeparture">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí đổi vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                  formControlName="changeFeeDeparture">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="ticketRoundTrip" style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;">
        </div>
        <!-- 2. Thời điểm về -->
        <div *ngIf="ticketRoundTrip">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">2. Thời gian về
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="14">
              <div class="inner-box">
                <nz-range-picker [nzShowTime]="true" style="width: 100%;"
                  formControlName="flightTimeReturn"></nz-range-picker>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hãng bay
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Hãng bay--"
                  formControlName="airlineCodeReturn">
                  <nz-option *ngFor="let op of AIRLINE_CODE_OPTIONS; let i = index;" [nzLabel]="op.label"
                    [nzValue]="op.value"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Mã đặt chỗ về
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="reservationCodeReturn">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Mã CB
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="flightNumberReturn">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Hạn giữ vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default"
                  formControlName="ticketHoldExpiryDateReturn">
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Giá vé
                  <em class="fa fa-asterisk required" style="line-height: revert;"></em>
                </label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="10">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="ticketPriceReturn">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="3">
              <div class="inner-box" style="float: right;">
                <label for="">Phí thêm hành lý</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="9">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" formControlName="baggageFeeReturn">
              </div>
            </div>
          </div>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box">
                <label for="">Phí hoàn vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                  formControlName="refundFeeReturn">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí huỷ vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                  formControlName="cancelFeeReturn">
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="2">
              <div class="inner-box" style="float: right;">
                <label for="">Phí đổi vé</label>
              </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="6">
              <div class="inner-box">
                <input style="border-radius: 4px;" nz-input nzSize="default" placeholder=""
                  formControlName="changeFeeReturn">
              </div>
            </div>
          </div>
        </div>

        <div style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;"></div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">File vé máy bay
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="22">
            <div class="inner-box">
              <div>
                <nz-upload class="upload-list-inline" [nzMultiple]="true" [nzAction]="uploadUrl" nzName="postedFile"
                  [nzHeaders]="uploadHeader" [nzRemove]="handleRemoveFileTicketBookingRequest"
                  (nzChange)="handleUploadFileTicketBookingRequest1($event)" [nzFileList]="fileList"
                  [nzShowUploadList]="showUploadListOption">
                  <button *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update" nz-button>
                    <span nz-icon nzType="upload"></span>
                    Nhấn để tải ảnh
                  </button>
                </nz-upload>
              </div>
              <!-- <div>
                <nz-upload [nzMultiple]="true" [nzAction]="uploadUrl" nzName="postedFile" [nzHeaders]="uploadHeader"
                  [nzRemove]="handleRemoveFileTicketBookingRequest" [(nzFileList)]="fileList"
                  [nzBeforeUpload]="beforeUpload">
                  <button nz-button>
                    <span nz-icon nzType="upload"></span>
                    Nhấn để tải file
                  </button>
                </nz-upload>
                <button nz-button [nzType]="'primary'" [nzLoading]="uploading"
                  (click)="handleUploadFileTicketBookingRequest2($event)" [disabled]="fileList.length === 0"
                  style="margin-top: 16px">
                  {{ uploading ? 'Đang tải file...' : 'Bắt đầu tải file lên' }}
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelArilineTicketPopup()">
        <div style="display: flex; align-items: center;">
          <span nz-icon nzType="close"></span>
          <span *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.View"
            style="margin-left: 4px; line-height: normal;">Đóng</span>
          <span *ngIf=" optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update"
            style="margin-left: 4px; line-height: normal;">Huỷ</span>
        </div>
      </button>

      <button *ngIf="optionAirlineTicketInfo == OptionAirlineTicketInfoEnum.Update" nz-button nzType="primary"
        (click)="handleSavelArilineTicketPopup()">
        <div style="display: flex; align-items: center;">
          <span nz-icon nzType="save"></span>
          <span style="margin-left: 6px; line-height: normal;">Lưu</span>
        </div>
      </button>
    </div>
  </nz-modal>
</form>


<!-- Popup cập nhật thông tin số vé cho -->
<nz-modal [(nzVisible)]="isVisiblePopupUpdateNumberTicket" [nzContent]="contentPopupUpdateNumberTicket" nzWidth="824px"
  [nzStyle]="{ top: '40px' }" (nzOnCancel)="handleCancelArilineTicketPopup()">
  <div *nzModalTitle>
    Cập nhật số vé
  </div>
  <ng-template #contentPopupUpdateNumberTicket>
    <div *ngIf="itemBookingRequest">
      <div *ngFor="let passenger of itemBookingRequest.passengers;let i = index;">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" nzSpan="2">
            <div class="inner-box">
              <label for="">Số vé
                <em class="fa fa-asterisk required" style="line-height: revert;"></em>
              </label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="inner-box">
              <input style="width: 200px; border-radius: 4px; height: 32px; margin-right: 10px;" nzSize="small" nz-input
                type="text" [(ngModel)]="passenger.ticketNumber" placeholder="Nhập số vé cho chuyến bay">
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="4">
            <div class="inner-box" style="float: right;">
              <label for="">Khách hàng</label>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="12">
            <div class="inner-box">
              Trần Anh Tú
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 1px; background-color: #f5f5f5; margin: 1.5rem 0rem;"></div>
      </div>
    </div>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelArilineTicketPopup()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="close"></span>
        <span style="margin-left: 4px; line-height: normal;">Huỷ</span>
      </div>
    </button>

    <button nz-button nzType="primary" (click)="handleSavelArilineTicketPopup()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="save"></span>
        <span style="margin-left: 6px; line-height: normal;">Lưu</span>
      </div>
    </button>
  </div>
</nz-modal>
