<div style="display: flex; justify-content: space-between;">
  <h1>Phân quyền nhóm</h1>
  <div class="form-filter ant-form ant-form-inline">
    <input style="width: 300px; margin-right: 10px;"  nzSize="small" nz-input [(ngModel)]="searchText"
      (keyup.enter)="onSearch()" type="text" placeholder="Tìm kiếm theo tên hoặc username">
  </div>
</div>

<div class="data-table">
  <nz-table #basicTable [nzData]="datas" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzPageSizeOptions]="pageSize" [nzPageSize]="defaultPage" nzSize="small" nzShowSizeChanger
    [nzShowTotal]="rangeTemplate" [nzLoading]="loading" [nzScroll]="{x: scrollX, y: 'calc(100vh - 250px)'}" nzBordered>
    <thead>
      <tr>
        <th rowspan="2" nzLeft nzWidth="50px" class="text-nowrap text-center">STT</th>
        <th rowspan="2" nzLeft nzWidth="50px" class="text-nowrap"></th>
        <th rowspan="2" nzLeft nzWidth="150px" class="text-nowrap">Tên nhóm</th>
        <th rowspan="2" nzLeft nzWidth="150px" class="text-nowrap">Ghi chú</th>
        <th [colspan]="group.roles.length" [ngStyle]="{'width': group.thWidth + 'px'}"
          *ngFor="let group of this.groupRoles; let i = index">
          {{group.groupName}}
        </th>
      </tr>
      <tr>
        <th nzWidth="100px" *ngFor="let role of this.allRoles; let i = index" [attr.data-index]="i" class="editable-row"
          style="text-align: center;">
          {{role.nameForDisplay}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data;let i = index;">
        <td nzLeft="0px" class="text-nowrap text-center">{{getRowIndex(i, basicTable.nzPageIndex,
          basicTable.nzPageSize)}}</td>
        <td nzLeft class="text-nowrap text-center">
          <button nzType="primary" nzSize="small" disabled="{{data.saveDisable}}" nz-button
            (click)="saveUserGroup(data)">
            <i class="fa fa-fw fa-save"></i>
          </button>
        </td>
        <td nzLeft class="text-nowrap">{{ data.name }}</td>
        <td nzLeft class="text-nowrap">{{ data.description }}</td>
        <td *ngFor="let role of this.allRoles; let i = index" [attr.data-index]="i" class="editable-row"
          [nzAlign]="'center'">
          <ng-container *ngIf="checkUserReport(role.id, data) == true;else elseBlock">
            <input type="checkbox" checked (click)="updateUserGroup(data, role.id, 0)">
            <!-- <label nzChecked="checked" (nzCheckedChange)="updateUserGroup(data, role.id, 0)" nz-checkbox></label> -->
          </ng-container>
          <ng-template #elseBlock>
            <input type="checkbox" (click)="updateUserGroup(data, role.id, 1)">
          </ng-template>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
  </ng-template>
</div>

<app-nhomtaikhoan-users (closeModal)="closeModalUsers()" [isVisible]="isVisibleUser"
  [nhomtaikhoan]="item"></app-nhomtaikhoan-users>
