.btn-action-listroom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-action-room{
    margin-right: 1px;
}
.equal-width-btn{
    width: 160px;
}
.btn-cancel{
    border: none;
    color: red;
    border: 1px solid red;
}
