<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Quản lý tin tức</h1>

  </div>
  <div class="form-group" style="float: right; display: flex; align-items: center;">
    <!-- Tìm kiếm -->
    <!-- [(ngModel)]="searchText" (keyup.enter)="onSearch()"-->
    <input style="width: 200px; border-radius: 4px; height: 32px;" class="mgr10" nzSize="small" nz-input type="text"
      [(ngModel)]="searchText" (keyup)="onSearch()" placeholder="Tìm kiếm theo tiêu đề, nội dung ...">

    <!-- Nút thêm -->
    <button nz-button nzType="primary" class="ant-btn-primary" type="button" (click)="routingPageNewsAdd()"
      *ngIf="checkAdd">
      <em class="fas fa-plus fa-fw" style="margin-right: 4px;"></em> Thêm</button>

    <!-- Nút xuất Excel -->
    <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button>
  </div>
</div>
<dx-data-grid id="gridContainer" [dataSource]="filteredDatas" #ListNews [showColumnLines]="true" [showRowLines]="true"
  [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true" [allowColumnResizing]="true"
  columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true" (onExporting)="onExporting($event)">
  <dxo-scrolling mode="virtual" rowRenderingMode="virtual" columnRenderingMode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="100" fixedPosition="right"
    cellTemplate="cellBtnTemplate"></dxi-column>
  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
    [allowSorting]="false"></dxi-column>
  <dxi-column caption="Tiêu đề" [width]="200" dataField="title" [fixed]="true"></dxi-column>
  <dxi-column caption="Ngày phát hành" [width]="200" dataField="datePosted" dataType="date"></dxi-column>
  <dxi-column caption="Tóm tắt" dataField="summary"></dxi-column>
  <dxi-column caption="Hình ảnh" [width]="200" dataField="imageUrl" cellTemplate="cellImages"></dxi-column>
  <div *dxTemplate="let item of 'cellBtnTemplate'">
    <button title="Xóa tài khoản" nz-button nzSize="small" nzType="default" class="btn-right button-update ant-btn-red"
      (click)="showDeleteConfirm(item.data.id)" *ngIf="checkUpdate">
      <span class="fa fa-times fa-fw"></span>
    </button>
    <button title="Chỉnh sửa thông tin tài khoản" nz-button nzSize="small" nzType="default"
      class="btn-right button-update" (click)="routingPageNewsUpdate(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-edit fa-fw"></span>
    </button>
  </div>
  <div *dxTemplate="let images of 'cellImages'">
    <button *ngIf="images" nz-button nzSize="small" nzType="dashed" (click)="previewImagesNews(images.value)">Xem
      ảnh</button>
  </div>
  <dxo-summary>
    <dxi-total-item column="title" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>

<form [formGroup]="formAdd" (ngSubmit)="handleOk()">
  <nz-modal [(nzVisible)]="isVisibleAdd" nzClosable="false" [nzTitle]="title" nzMaskClosable="false">
    <ng-template #title>
      {{titleFormUser}}
      <div class="pull-right icon-close">
        <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
      </div>
    </ng-template>
    <div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tiêu đề<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="title" placeholder="tiêu đề ..."
            [ngClass]="{ 'is-invalid': submitted && f.title.errors?.required }" />
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Ngày phát hành<em class="fa fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <dx-date-box formControlName="datePosted" placeholder="dd/MM/yyyy" type="date" [showClearButton]="true"
            [useMaskBehavior]="true" displayFormat="dd/MM/yyyy"></dx-date-box>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tóm tắt<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="summary" placeholder="Tóm tắt ...."
            [ngClass]="{ 'is-invalid': submitted && f.summary.errors?.required }" />
        </div>
      </div>
    </div>

    <div class="input-wrap" nz-row>
      <label class="title-detail" nz-col [nzSpan]="8">Nội dung<em class="fa fa-asterisk required"></em></label>
      <div nz-col [nzSpan]="16">
        <textarea nz-input formControlName="content" placeholder="Nội dung bài đăng ..."
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          [ngClass]="{ 'is-invalid': submitted && f.content.errors?.required }"></textarea>
      </div>
    </div>

    <div class="input-wrap" nz-row>
      <label class="title-detail" nz-col [nzSpan]="8">Link ảnh<em class="fas fa-asterisk required"></em></label>
      <!-- <div nz-col [nzSpan]="16">
        <input nz-input formControlName="imageUrl" placeholder="Đường link ảnh ..."
          [ngClass]="{ 'is-invalid': submitted && f.imageUrl.errors?.required }" />
      </div> -->

      <div nz-col [nzSpan]="16">
        <nz-upload [nzAction]="uploadUrl" nzName="postedFile" [nzHeaders]="uploadHeader"
          (nzChange)="handleChange($event)" [nzFileList]="fileList">
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            Nhấn để tải ảnh
          </button>
        </nz-upload>
      </div>
    </div>

    <div *nzModalFooter>
      <button nz-button (click)="handleCancel()">{{'cancel' | translate }}</button>
      <button nz-button nzType="primary" (click)="handleOk()" class="button-submit">{{'save' | translate }}</button>
    </div>
  </nz-modal>
</form>
