<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left; display: flex;">
    <h1>Bảng kê chi tiết vé máy bay</h1>
    <div style="display: flex; margin-left: 2rem; align-items: baseline;">
      <div>
        <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Đối tác--" style="width: 200px;"
          [(ngModel)]="searchData.partnerId">
          <nz-option *ngFor="let partner of partners" nzLabel="{{partner.name}}" [nzValue]="partner.id"></nz-option>
          <nz-option nzLabel="--Tất cả--" [nzValue]="0"></nz-option>
        </nz-select>
      </div>
      <div style="display: flex; align-items: center; margin-left: 1.5rem;">
        <div>
          <dx-date-box placeholder="Từ ngày..." type="date" style="width: 200px;" [showClearButton]="true"
            [useMaskBehavior]="true" displayFormat="dd/MM/yyyy" [(ngModel)]="searchData.fromDate"></dx-date-box>
        </div>
        <div style="margin-left: 1rem;">
          <dx-date-box placeholder="Đến ngày..." type="date" style="width: 200px;" [showClearButton]="true"
            [useMaskBehavior]="true" displayFormat="dd/MM/yyyy" [(ngModel)]="searchData.toDate"></dx-date-box>
        </div>
      </div>
      <div style="display: flex; margin-left: 1.5rem;">
        <div>
          <button nz-button nzSize="default" nzType="primary" (click)="doSearch()">Tìm
            kiếm</button>
        </div>
        <div>
          <button nz-button nzSize="default" nzType="dashed" (click)="clearSearch()">Bỏ lọc</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" style="float: right; display: flex; align-items: center;">
    <!-- Nút xuất Excel -->
    <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button>
  </div>
</div>

<dx-data-grid #DataAirlineTicket id="gridContainer" [dataSource]="filteredDatas" [showColumnLines]="true"
  [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
  [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
  (onExporting)="onExporting($event)">
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxo-paging [pageSize]="20"> </dxo-paging>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
    [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
    [showNavigationButtons]="showNavButtons"></dxo-pager>

  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
    [allowSorting]="false"></dxi-column>
  <dxi-column caption="Mã Base" [width]="100" dataField="baseCode" dataType="string"></dxi-column>
  <dxi-column caption="Số vé/Code" [width]="150" dataField="ticketNumber" dataType="string"></dxi-column>
  <dxi-column caption="Mã đặt chỗ" [width]="120" dataField="bookingNumber" dataType="string"></dxi-column>
  <dxi-column caption="Ngày xuất vé" [width]="150" dataField="issueTicketDate" dataType="date"
    format="HH:mm dd/MM/yy"></dxi-column>
  <dxi-column caption="Ngày khởi hành" [width]="200" dataField="startDate" dataType="date"
    format="HH:mm dd/MM/yy"></dxi-column>
  <dxi-column caption="Ngày về" [width]="150" dataField="returnDate" dataType="date"
    format="HH:mm dd/MM/yy"></dxi-column>
  <dxi-column caption="Họ tên người đi" [width]="200" dataField="passengerName" dataType="string"></dxi-column>
  <dxi-column caption="Hành trình" [width]="130" dataField="flightRoute" dataType="string"></dxi-column>
  <dxi-column caption="Giá vé" [width]="200" dataField="totalNetPriceFormat" dataType="string"></dxi-column>
  <dxi-column caption="VAT" [width]="100" dataField="totalNetPriceVATFormat" dataType="string"></dxi-column>
  <dxi-column caption="Phân loại khách hàng" [fixed]="true" fixedPosition="right" cssClass="text-center" [width]="180" dataField="passengerType" [format]="pipeUtils.pipePassengerType"></dxi-column>
  <dxi-column caption="Người đặt" [fixed]="true" fixedPosition="right"  cssClass="text-center" [width]="150" dataField="contactName" dataType="string"></dxi-column>

  <!-- <div *dxTemplate="let passengerType of 'cellPassengerType'">
    {{passengerType.value | passengerType}}
  </div> -->
  <dxo-summary [calculateCustomSummary]="calculateSelectedRowPrice">

    <dxi-total-item name="SelectedRowsSumPrice" showInColumn="totalNetPriceFormat" displayFormat="Tổng: {0}"
      [valueFormat]="formatCurrencyVND" summaryType="custom">
    </dxi-total-item>
    <dxi-total-item name="SelectedRowsVAT" summaryType="custom" [valueFormat]="formatCurrencyVND"
      displayFormat="VAT: {0}" showInColumn="totalNetPriceFormat">
    </dxi-total-item>
    <dxi-total-item name="SelectedRowsTotalPrice" summaryType="custom" [valueFormat]="formatCurrencyVND"
      displayFormat="Tổng tiền: {0}" showInColumn="totalNetPriceFormat">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>


<nz-modal [(nzVisible)]="isVisibleDetailBookingHotelPassengers" nzTitle="Thông tin chi tiết khách hàng"
  [nzContent]="contentDetail" nzWidth="1500px" (nzOnCancel)="handleCancel()">
  <ng-template #contentDetail>
    <dx-data-grid id="gridContainer" [dataSource]="listBookingHotelPassengers" [showColumnLines]="true"
      [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [height]="dxGridHeight"
      [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true">


      <dxo-load-panel [enabled]="true"></dxo-load-panel>`
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>

      <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true"
        [allowFiltering]="false" [allowSorting]="false"></dxi-column>

      <dxi-column caption="Họ tên khách hàng" [fixed]="true" [width]="200" dataField="fullName"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Số điện thoại" [fixed]="true" [width]="150" dataField="phone"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Email" [fixed]="true" [width]="150" dataField="email"
        cssClass="vertical-align-middle"></dxi-column>
      <dxo-summary>
        <dxi-total-item column="fullName" displayFormat="Số bản ghi: {0}" summaryType="count">
        </dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </ng-template>
</nz-modal>

<!-- Confirm agreement booking hotel -->
<nz-modal [(nzVisible)]="isVisibleConfirm" [nzContent]="contentConfirm" nzWidth="500px" (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    Xác nhận yêu cầu đặt khách sạn
  </div>
  <ng-template #contentConfirm>
    <nz-input-group [nzSuffix]="textAreaClearConfirm" [nzPrefix]=""
      class="ant-input-affix-wrapper-textarea-with-clear-btn">
      <textarea nz-input [(ngModel)]="textValueNoteConfirm" [nzAutosize]="{ minRows: 5, maxRows: 10 }"
        placeholder="Nội dung ghi chú ..."></textarea>
    </nz-input-group>
    <!-- <ng-template #prefixTemplateNote><span nz-icon nzType="info-circle" nzTheme="outline"></span></ng-template> -->
    <ng-template #textAreaClearConfirm>
      <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="textValueNoteConfirm"
        (click)="textValueNoteConfirm = null"></span>
    </ng-template>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Huỷ</button>
    <button nz-button nzType="primary" (click)="handleOkConfirmBookingHotel()" [nzLoading]="isConfirmLoading">Xác
      nhận</button>
  </div>
</nz-modal>

<!-- Refuse booking hotel request -->
<nz-modal [(nzVisible)]="isVisibleRefuse" [nzContent]="contentRefuse" nzWidth="450px" (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    Từ chối yêu cầu đặt khách sạn
  </div>
  <ng-template #contentRefuse>
    <nz-input-group [nzSuffix]="textAreaClearConfirm" class="ant-input-affix-wrapper-textarea-with-clear-btn">
      <textarea nz-input [(ngModel)]="textValueNoteRefuse" [nzAutosize]="{ minRows: 5, maxRows: 10 }"
        placeholder="Nội dung ghi chú ..." nzStatus="warning"></textarea>
    </nz-input-group>
    <!-- <ng-template #prefixTemplateNote><span nz-icon nzType="info-circle" nzTheme="outline"></span></ng-template> -->
    <ng-template #textAreaClearConfirm>
      <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="textValueNoteRefuse"
        (click)="textValueNoteRefuse = null"></span>
    </ng-template>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Huỷ</button>
    <button nz-button nzType="dashed" nzDanger (click)="handleOkRefuse()" [nzLoading]="isRefuseLoading">Từ chối</button>
  </div>
</nz-modal>
