.action-button button{
  margin-left: 8px;
}
.btn-edit{
  margin-right: 8px;
}
h1{
  font-size: 18px;
  margin: 0;
  line-height: 32px;
  text-transform: uppercase;
}
.labeb_text label{
  width: 200px;
}


.ant-btn-tertiary{
  color: #fff;
  background-color: #5260ff;
  border: none;
  box-shadow: none;
}

.ant-btn-tertiary:focus, .ant-btn-tertiary:hover {
  color: #fff;
  background: #4c8dff;
  border-color: #4c8dff;
}


// Upload ảnh
:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
:host ::ng-deep .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}


:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
:host ::ng-deep .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
::ng-deep dx-data-grid {
  &#gridContainer {
    // height: 100%;
    height: calc(100% - 38px) !important;
  }
}
