<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Danh sách lượt đặt khách sạn</h1>
  </div>
  <div class="form-group" style="float: right; display: flex; align-items: center;">
    <!-- Nút xuất Excel -->
    <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button>
  </div>
</div>
<dx-data-grid id="gridContainer" [dataSource]="filteredDatas" #ListBookingHotels [showColumnLines]="true"
  [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
  [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
  (onExporting)="onExporting($event)">
  <dxo-scrolling mode="virtual" rowRenderingMode="virtual" columnRenderingMode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxo-master-detail [enabled]="true" template="detailBookingHotel"></dxo-master-detail>


  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
    [allowSorting]="false"></dxi-column>
  <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="175" fixedPosition="right"
    cellTemplate="cellBtnTemplate"></dxi-column>
  <dxi-column caption="Trạng thái" cssClass="text-center" [width]="200" dataField="bookingStatusText"
    fixedPosition="left" cellTemplate="cellBookingStatus"></dxi-column>
  <dxi-column caption="Họ tên người đặt" dataField="contactName" fixedPosition="left"></dxi-column>
  <dxi-column caption="Số điện thoại" [width]="200" dataField="contactPhone"
    [format]="phoneUtils.phoneNumberFormat"></dxi-column>
  <dxi-column caption="Email" [width]="300" dataField="contactEmail"></dxi-column>
  <dxi-column caption="Mã đặt KS" [width]="200" dataField="bookingCode"></dxi-column>
  <dxi-column caption="Ngày đặt" [width]="200" dataField="dateCreated" dataType="date"
    format="HH:mm dd/MM/yy"></dxi-column>
  <dxi-column caption="Trạng thái hệ thống" cssClass="text-center" [width]="200"
    cellTemplate="cellSystemCancelled"></dxi-column>

  <div *dxTemplate="let bookingStatus of 'cellBookingStatus'">
    <div style="
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    margin-left: 1rem">
      <span *ngIf="bookingStatus.data.bookingStatus === 0" nz-icon nzType="issues-close" style="color: #000"
        nzTheme="outline"></span>
      <span *ngIf="bookingStatus.data.bookingStatus === 1" nz-icon nzType="check-circle" style="color: #52c41a"
        nzTheme="outline"></span>
      <span *ngIf="bookingStatus.data.bookingStatus === 2" nz-icon nzType="close-circle" style="color: #dc3545"
        nzTheme="outline"></span>
      <div style="margin-left: 0.25rem;"
        [style.color]="(bookingStatus.data.bookingStatus === 0) ? '#000': ((bookingStatus.data.bookingStatus === 1) ? '#52c41a': (bookingStatus.data.bookingStatus === 2) ? '#dc3545': '') ">
        {{bookingStatus.value}}
      </div>
    </div>
  </div>
  <div *dxTemplate="let item of 'cellBtnTemplate'">
    <button *ngIf="item.data.bookingStatus !== 2" title="Từ chối yêu cầu" nz-button nzSize="small" nzType="default"
      class="btn-right button-update ant-btn-red" (click)="onRefuseBookingHotel(item.data)">
      <span class="fa fa-times fa-fw"></span>
    </button>

    <button *ngIf="item.data.bookingStatus === 0 || item.data.bookingStatus === 1"
      [title]="(item.data.bookingStatus === 0) ?  'Xác nhận thông tin đặt khách sạn' : 'Cập nhật thông tin đặt khách sạn'"
      nz-button nzSize="small" nzType="default" class="btn-right button-update"
      (click)="onConfirmBookingHotel(item.data)">
      <span class='{{(item.data.bookingStatus === 0) ? "fa fa-check fa-fw" : "fa fa-edit fa-fw"}}'></span>
    </button>

    <button *ngIf="item.data.bookingStatus === 1" [nzLoading]="item.data.isOnSendEmailLoading"
      title="Gửi Email xác nhận đặt khách sạn" nz-button nzSize="small" nzType="default" class="btn-right button-update"
      (click)="onConfirmSendEmailBookingHotel(item.data)">
      <span class="fa fa-paper-plane fa-fw"></span>
    </button>

  </div>
  <div *dxTemplate="let bookingHotel of 'detailBookingHotel'">
    <div class="action-button" style="clear: bottom;overflow: hidden;">
      <div class="form-group" style="float: left">
        <h5>DS chi tiết lượt booking</h5>
      </div>
    </div>
    <dx-data-grid id="gridDetail" [dataSource]="bookingHotel.data.bookingHotelDetails" [showBorders]="true">
      <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true"
        [allowFiltering]="false" [allowSorting]="false"></dxi-column>
      <dxi-column caption="Tên khách sạn" [width]="200" dataField="hotelName" dataType="string"></dxi-column>
      <dxi-column caption="Ngày check-in" [width]="200" dataField="checkinDate" dataType="date"
        format="HH:mm dd/MM/yy"></dxi-column>
      <dxi-column caption="Ngày check-out" [width]="200" dataField="checkoutDate" dataType="date"
        format="HH:mm dd/MM/yy"></dxi-column>
      <dxi-column caption="Số phòng" [width]="100" dataField="amount"></dxi-column>
      <dxi-column caption="Số người lớn" [width]="100" dataField="adt"></dxi-column>
      <dxi-column caption="Số trẻ em" [width]="100" dataField="chd"></dxi-column>
      <dxi-column caption="Giường phụ" [width]="150" dataField="extraBed"></dxi-column>
      <dxi-column caption="Giá giường phụ" [width]="150" dataField="extraBedPrice"
        cellTemplate="cellExtraBedPrice"></dxi-column>
      <dxi-column caption="Phụ phí người lớn" [width]="150" dataField="adultSurcharge"
        cellTemplate="cellAdultSurcharge"></dxi-column>
      <dxi-column caption="Phụ phí trẻ em" [width]="150" dataField="childSurcharge"
        cellTemplate="cellChildSurcharge"></dxi-column>
      <dxi-column caption="Giá phòng" [width]="100" dataField="price" cellTemplate="cellPriceRoom"></dxi-column>
      <dxi-column caption="Tổng chi phí" [width]="100" dataField="totalPrice"
        cellTemplate="cellTotalPrice"></dxi-column>
      <dxi-column caption="Chi tiết khách hàng" cssClass="text-center" [width]="200" dataField="bookingHotelPassengers"
        cellTemplate="cellBookingHotelPassengers"></dxi-column>
      <div *dxTemplate="let price of 'cellPrice'">
        {{price.value | currencyFormat}}
      </div>
      <div *dxTemplate="let extraBedPrice of 'cellExtraBedPrice'">
        {{extraBedPrice.value? extraBedPrice.value :0 | currencyFormat}} đ
      </div>
      <div *dxTemplate="let adultSurcharge of 'cellAdultSurcharge'">
        {{adultSurcharge.value? adultSurcharge.value :0 | currencyFormat}} đ

      </div>
      <div *dxTemplate="let childSurcharge of 'cellChildSurcharge'">
        {{childSurcharge.value ? childSurcharge.value : 0| currencyFormat}} đ
      </div>
      <div *dxTemplate="let priceRoom of 'cellPriceRoom'">
        {{priceRoom.value ? priceRoom.value : 0 | currencyFormat}} đ
      </div>
      <div *dxTemplate="let totalPrice of 'cellTotalPrice'">
        {{totalPrice.value? totalPrice.value : 0 | currencyFormat}} đ
      </div>
      <div *dxTemplate="let bookingHotelPassenger of 'cellBookingHotelPassengers'">
        <a nz-button nzType="link" (click)="previewDetailBookingHotelPassengers(bookingHotelPassenger.value)"
          nzBlock>«Chi tiết»</a>
      </div>

      <dxo-summary>
        <dxi-total-item column="hotelName" displayFormat="Số lượt booking: {0}" summaryType="count">
        </dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </div>
  <div *dxTemplate="let hotelFlightExport of 'cellSystemCancelled'">
    <nz-switch [ngModel]="!hotelFlightExport.data.systemCancelled" [nzControl]="true" nzCheckedChildren="Tính công nợ"
      nzUnCheckedChildren="Không tính công nợ" [nzLoading]="loadingSystemStatus"
      (click)="onChangeStatusBookingHotelExport(hotelFlightExport.data)"
      [nzDisabled]="hotelFlightExport.data.systemCancelled"></nz-switch>
  </div>
  <dxo-summary>
    <dxi-total-item column="contactName" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>


<nz-modal [(nzVisible)]="isVisibleDetailBookingHotelPassengers" nzTitle="Thông tin chi tiết khách hàng"
  [nzContent]="contentDetail" nzWidth="1500px" (nzOnCancel)="handleCancel()">
  <ng-template #contentDetail>
    <dx-data-grid id="gridContainer" [dataSource]="listBookingHotelPassengers" [showColumnLines]="true"
      [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
      [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true">


      <dxo-load-panel [enabled]="true"></dxo-load-panel>`
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>

      <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true"
        [allowFiltering]="false" [allowSorting]="false"></dxi-column>

      <dxi-column caption="Họ tên khách hàng" [fixed]="true" [width]="200" dataField="fullName"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Số điện thoại" [fixed]="true" [width]="150" dataField="phone"
        cssClass="vertical-align-middle"></dxi-column>
      <dxi-column caption="Email" [fixed]="true" [width]="150" dataField="email"
        cssClass="vertical-align-middle"></dxi-column>
      <dxo-summary>
        <dxi-total-item column="fullName" displayFormat="Số bản ghi: {0}" summaryType="count">
        </dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </ng-template>
</nz-modal>

<!-- Confirm agreement booking hotel -->
<nz-modal [(nzVisible)]="isVisibleConfirmBooking" [nzContent]="contentConfirm" nzWidth="500px"
  (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    <div>
      {{item.bookingStatus === 0 ? 'Xác nhận' : (item.bookingStatus === 1 ? 'Cập nhật' : '')}} thông tin đặt khách sạn
    </div>
    <span><i style="font-size: x-small; opacity: 0.8;">(*Lưu vào hệ thống)</i></span>
  </div>
  <ng-template #contentConfirm>
    <div>
      <label>Mã đặt phòng khách sạn<span style="color: #dc3545;">*</span></label>
      <div>
        <nz-input-group [nzSuffix]="inputClearTpl"
          [ngClass]="{ 'is-invalid': (submitted && !confirmBookingHotel.approvalCodeConfirm)}">
          <input nz-input type="text" [(ngModel)]="confirmBookingHotel.approvalCodeConfirm"
            placeholder="Mã đặt chỗ do khách sạn cung cấp..." />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
            *ngIf="confirmBookingHotel.approvalCodeConfirm"
            (click)="confirmBookingHotel.approvalCodeConfirm = null"></span> </ng-template>
      </div>
    </div>


    <div style="margin-top: 1rem;">
      <label for="">Ghi chú:</label>
      <nz-input-group [nzSuffix]="textAreaClearConfirm" [nzPrefix]=""
        class="ant-input-affix-wrapper-textarea-with-clear-btn">
        <textarea nz-input [(ngModel)]="confirmBookingHotel.textValueNoteConfirm"
          [nzAutosize]="{ minRows: 5, maxRows: 10 }" placeholder="Nội dung ghi chú ..."></textarea>
      </nz-input-group>
    </div>

    <!-- <ng-template #prefixTemplateNote><span nz-icon nzType="info-circle" nzTheme="outline"></span></ng-template> -->
    <ng-template #textAreaClearConfirm>
      <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
        *ngIf="confirmBookingHotel.textValueNoteConfirm"
        (click)="confirmBookingHotel.textValueNoteConfirm = null"></span>
    </ng-template>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelConfirmBooking()">Huỷ</button>
    <button nz-button nzType="primary" (click)="handleOkConfirmBookingHotel()"
      [nzLoading]="isConfirmLoading">{{item.bookingStatus === 0 ? 'Xác nhận' : (item.bookingStatus === 1 ? 'Cập nhật' :
      '')}}</button>
    <button nz-button nzType="primary" (click)="handleConfirmAndSendBookingHotel()"
      [nzLoading]="isConfirmLoading">{{item.bookingStatus === 0 ? 'Xác nhận' : (item.bookingStatus === 1 ? 'Cập nhật' :
      '')}} và gửi email</button>
  </div>
</nz-modal>

<!-- Refuse booking hotel request -->
<nz-modal [(nzVisible)]="isVisibleRefuseBooking" [nzContent]="contentRefuse" nzWidth="450px"
  (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    Từ chối yêu cầu đặt khách sạn
  </div>
  <ng-template #contentRefuse>
    <nz-input-group [nzSuffix]="textAreaClearConfirm" class="ant-input-affix-wrapper-textarea-with-clear-btn">
      <textarea nz-input [(ngModel)]="textValueNoteRefuse" [nzAutosize]="{ minRows: 5, maxRows: 10 }"
        placeholder="Nội dung ghi chú ..." nzStatus="warning"></textarea>
    </nz-input-group>
    <!-- <ng-template #prefixTemplateNote><span nz-icon nzType="info-circle" nzTheme="outline"></span></ng-template> -->
    <ng-template #textAreaClearConfirm>
      <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="textValueNoteRefuse"
        (click)="textValueNoteRefuse = null"></span>
    </ng-template>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Huỷ</button>
    <button nz-button nzType="dashed" nzDanger (click)="handleOkRefuse()" [nzLoading]="isRefuseLoading">Từ chối</button>
  </div>
</nz-modal>

<!-- Confirm agreement send email booking hotel -->
<nz-modal [(nzVisible)]="isVisibleConfirmSendEmaiBooking" [nzContent]="contentConfirmSendEmailBookingHotel"
  nzWidth="120vh" (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    Gửi Email xác nhận đặt phòng khách sạn tới khách hàng
  </div>
  <ng-template #contentConfirmSendEmailBookingHotel>

    <div>
      <angular-editor [placeholder]="'Nội dung thông tin xác nhận đặt phòng khách sạn...'"
        [(ngModel)]="contentFileConfirmBookingRoonHotel" [config]="configDescriptionHotel"></angular-editor>
    </div>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Huỷ</button>
    <button nz-button nzType="primary" (click)="handleOkConfirmSendEmailBookingHotel()"
      [nzLoading]="isConfirmSendEmailLoading">Gửi Email</button>
  </div>
</nz-modal>
