.action-button button{
  margin-left: 8px;
}
.btn-edit{
  margin-right: 8px;
}
h1{
  font-size: 18px;
  margin: 0;
  line-height: 32px;
  text-transform: uppercase;
}
.labeb_text label{
  width: 200px;
}
