<div class="main-wapper">
  <div class="toolbar">
    <div class="before">
      <h2 class="toolbar-title">
        Danh sách khách sạn - lưu trú</h2>
    </div>
    <div class="after">
      <div class="buttons">
        <button nz-button nzType="primary" class="ant-btn-primary" type="button" (click)="routingPageHotelAdd()">
          <em class="fas fa-plus fa-fw" style="margin-right: 4px;"></em> Thêm khách sạn
        </button>
      </div>
    </div>
  </div>
  <dx-data-grid
    columnResizingMode="widget"
    (onCellPrepared)="onCellPrepared($event)"
    [dataSource]="datas"
    [height]="dxGridHeight"
    [allowColumnReordering]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [columnMinWidth]="50"
    [columnAutoWidth]="true"
    [columnResizingMode]="'nextColumn'"
    [allowColumnResizing]="true"
  >
    <!--<dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>-->
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
    <dxo-load-panel [showPane]="true" [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
    <dxo-export
      [enabled]="false"
      [allowExportSelectedData]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>
    <dxi-column
      fixedPosition="left"
      alignment="center" [allowSorting]="false" [allowFiltering]="false" [width]="60" caption="STT"
    ></dxi-column>
    <dxi-column caption="Mã khách sạn" dataField="code" [width]="120"></dxi-column>
    <dxi-column caption="Tên khách sạn" dataField="name" cellTemplate="cellDetailLink"></dxi-column>
    <dxi-column caption="Hạng sao" [width]="140" dataField="ratingStar" cellTemplate="cellStar"></dxi-column>
    <dxi-column caption="Tỉnh thành" [width]="120" dataField="province.name"></dxi-column>
    <dxi-column caption="Trạng thái" [width]="120" cellTemplate="cellStatus"></dxi-column>

    <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="130" fixedPosition="right"
                cellTemplate="cellBtnTemplate"></dxi-column>

    <div *dxTemplate="let cellInfo of 'cellStar'">
      <nz-rate [ngModel]="cellInfo.data.ratingStar" nzDisabled></nz-rate>
    </div>
    <div *dxTemplate="let cellInfo of 'cellStatus'">
      <span class="text-success" *ngIf="cellInfo.data.isActive">Đang hoạt động</span>
      <span class="text-danger" *ngIf="!cellInfo.data.isActive">Khóa</span>
    </div>
    <div *dxTemplate="let cellInfo of 'cellDetailLink'">
      <a title="" class="a-link"
         (click)="showModalUpdate(cellInfo.data)">{{cellInfo.data.name}}</a>
    </div>
    <div *dxTemplate="let item of 'cellBtnTemplate'" style="display: flex; justify-content: space-evenly;">
      <button title="Chỉnh sửa thông tin" nz-button nzSize="small" nzType="default"
              (click)="showModalUpdate(item.data)">
        <!--<span class="fa fa-edit fa-fw"></span>-->
        <span nz-icon nzType="edit" nzTheme="outline" ></span>
      </button>
      <button [title]="item.data.isActive ? 'Khóa khách sạn' : 'Mở khóa khách sạn'" nz-button nzSize="small" nzType="default" (click)="doLock(item.data)">
        <span nz-icon nzType="lock" nzTheme="outline" *ngIf="item.data.isActive"></span>
        <!-- <span class="fa fa-key fa-fw" *ngIf="item.data.isActive"></span> -->
        <span nz-icon nzType="unlock" nzTheme="outline" *ngIf="!item.data.isActive"></span>
        <!-- <span class="fa fa-unlock fa-fw" *ngIf="!item.data.isActive"></span> -->
      </button>
      <!-- <button title="Xóa khách sạn" nz-button nzSize="small" nzType="default" class="btn-right button-update ant-btn-red"
              (click)="showConfirmDeleteHotel(item.data.id)">
        <span class="fa fa-times fa-fw"></span>
      </button> -->
    </div>
  </dx-data-grid>
</div>


<!--<dx-data-grid id="gridContainer" [dataSource]="datas" #ListAccount [showColumnLines]="true"
              [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
              [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
              >
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="170" fixedPosition="right"
              cellTemplate="cellBtnTemplate"></dxi-column>
  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
              [allowSorting]="false"></dxi-column>
  <dxi-column caption="Tên nhân viên" dataField="fullname" [fixed]="true"></dxi-column>
  <dxi-column caption="Username" dataField="username" [fixed]="true"></dxi-column>
  <dxi-column caption="Chức vụ" [width]="200" dataField="position" [fixed]="true"></dxi-column>
  <dxi-column caption="Thời gian đăng ký" dataField="createDate" [width]="150" dataType="date" format="dd/MM/yyyy">
  </dxi-column>
  <dxi-column caption="SĐT" [width]="150" dataField="phoneNo"></dxi-column>
  <dxi-column caption="Email" [width]="250" dataField="email"></dxi-column>
  <dxi-column caption="Phòng ban" [width]="150" dataField="department"></dxi-column>
  <dxi-column caption="Mã nhân viên" [width]="150" dataField="staffCode"></dxi-column>
  <div *dxTemplate="let item of 'cellBtnTemplate'" style="display: flex; justify-content: space-evenly;">

    <button title="Chỉnh Sửa thông tin" nz-button nzSize="small" nzType="default"
            (click)="showModalUpdate(item.data)" [disabled]="!item.data.status">
      <span class="fa fa-edit fa-fw"></span>
    </button>
    <button title="Đổi mật khẩu" nz-button nzSize="small" nzType="default" (click)="doLock(item.data)"
            [disabled]="!item.data.status">
      <span class="fa fa-key fa-fw"></span>
    </button>
  </div>
  <dxo-summary>
    <dxi-total-item column="fullname" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>-->
