<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Danh sách đối tác</h1>
  </div>
  <div class="form-group" style="float: right; display: flex; float: right">


    <!-- Tìm kiếm -->
    <input style="width: 200px; border-radius: 4px; height: 32px;" class="mgr10" nzSize="small" nz-input type="text"
      [(ngModel)]="searchText" (keyup)="onSearch()" placeholder="Tìm kiếm theo tên, username, ...">

    <button nz-button nzType="primary" class="btn-add-asset" type="button" (click)="showModalAdd()" *ngIf="checkAdd">
      <em class="fas fa-plus fa-fw"></em> Thêm
    </button>

    <!-- Nút xuất Excel -->
    <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button>
  </div>
</div>


<dx-data-grid id="gridContainer" [dataSource]="filteredDatas" #ListAccount [showColumnLines]="true"
  [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
  [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
  (onExporting)="onExporting($event)">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="170" fixedPosition="right"
    cellTemplate="cellBtnTemplate"></dxi-column>

  <!-- STT -->
  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
    [allowSorting]="false"></dxi-column>

  <dxi-column caption="Tên doanh nghiệp" [width]="100" dataField="companyName"></dxi-column>

  <!-- Tên CTV -->
  <dxi-column caption="Tên chủ doanh nghiệp" [fixed]="true" dataField="name" [width]="200"></dxi-column>

  <!-- SĐT -->
  <dxi-column caption="Số điện thoại" [width]="100" dataField="phone"></dxi-column>

  <!-- Email -->
  <dxi-column caption="Email" dataField="email" [width]="100"></dxi-column>

  <!-- Địa chỉ -->
  <dxi-column caption="Địa chỉ" [width]="100" dataField="address"></dxi-column>

  <dxi-column caption="Ghi chú" dataField="note" [width]="100"></dxi-column>




  <div *dxTemplate="let item of 'cellBtnTemplate'">
    <button title="Xóa tài khoản" nz-button nzSize="small" nzType="default" class="btn-right button-update ant-btn-red"
      (click)="showDeleteConfirm(item.data.id)" *ngIf="checkUpdate">
      <span class="fa fa-times fa-fw"></span>
    </button>
    <button title="Thông tin tài khoản" nz-button nzSize="small" nzType="default" class="btn-right button-update"
      (click)="showModalUpdate(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-edit fa-fw"></span>
    </button>
    <!-- <button title="Danh sách nhóm" nz-button nzSize="small" nzType="default" class="btn-right button-update"
      (click)="showModalUserGroup(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-user fa-fw"></span>
    </button> -->

    <button title="Danh sách nhóm" nz-button nzSize="small" nzType="default" class="btn-right button-update"
      (click)="showModalAccount(item.data)">
      <span class="fa fa-user fa-fw"></span>
    </button>


    <button title="Đổi mật khẩu" nz-button nzSize="small" nzType="default" class="btn-right button-update"
      (click)="showModalPassword(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-key fa-fw"></span>
    </button>
  </div>
  <dxo-summary>
    <dxi-total-item column="fullname" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>

<form [formGroup]="formAdd" (ngSubmit)="handleOk()">
  <nz-modal [(nzVisible)]="isVisibleAdd" nzClosable="false" [nzTitle]="title" nzMaskClosable="false">
    <ng-template #title>
      Thông tin tài khoản
      <div class="pull-right icon-close">
        <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
      </div>
    </ng-template>
    <div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Họ tên<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="fullname" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Mã nhân viên</label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="staffCode" [ngClass]="{ 'is-invalid': submitted && f.staffCode.errors }" />
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Số điện thoại</label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="phoneNo" />
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Email</label>
        <div nz-col [nzSpan]="16">
          <input type="email" nz-input formControlName="email" />
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tỉnh thành</label>
        <div nz-col [nzSpan]="16">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn tỉnh/thành phố" formControlName="tinhThanhId">
            <nz-option *ngFor="let option of tinhThanhs" [nzLabel]="option.name"
              [nzValue]="option.idTinhThanh"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Quận huyện</label>
        <div nz-col [nzSpan]="16">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quận huyện/đơn vị" formControlName="quanHuyenId">
            <nz-option *ngFor="let option of quanHuyens" [nzLabel]="option.name"
              [nzValue]="option.idTinhThanh"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="input-wrap" nz-row [hidden]=updated>
        <label class="title-detail" nz-col [nzSpan]="8">Tài khoản<em class="fa fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="username" autocomplete="new-password" />
        </div>
      </div>
      <div [hidden]=updated>
        <div class="input-wrap" nz-row>
          <label class="title-detail" nz-col [nzSpan]="8">Mật khẩu<em class="fa fa-asterisk required"></em></label>
          <div nz-col [nzSpan]="16">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu"
                autocomplete="new-password" formControlName="password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </div>
        </div>
        <div class="input-wrap" nz-row>
          <label class="title-detail" nz-col [nzSpan]="8">Nhắc lại<em class="fa fa-asterisk required"></em></label>
          <div nz-col [nzSpan]="16">
            <nz-input-group [nzSuffix]="suffixRepeatTemplate">
              <input [type]="repeatpasswordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu"
                formControlName="repeatPassword" />
            </nz-input-group>
            <ng-template #suffixRepeatTemplate>
              <i nz-icon [nzType]="repeatpasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="repeatpasswordVisible = !repeatpasswordVisible"></i>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Danh sách quyền riêng</label>
        <div nz-col [nzSpan]="16">
          <nz-select nzMode="multiple" nzPlaceHolder="--Chọn quyền--" formControlName="roles" style="width:200px">
            <nz-option *ngFor="let item of allRoles" nzLabel="{{item.name}}" [nzValue]="item.id"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div *nzModalFooter>
      <button nz-button (click)="handleCancel()">{{'cancel' | translate }}</button>
      <button nz-button nzType="primary" (click)="handleOk()" class="button-submit">{{'save' | translate }}</button>
    </div>
  </nz-modal>
</form>

<form [formGroup]="formPassword" (ngSubmit)="handleOkPassword()">
  <nz-modal [(nzVisible)]="isVisiblePassword" nzClosable="false" [nzTitle]="titlePassword" nzMaskClosable="false">
    <ng-template #titlePassword>
      Đổi mật khẩu
      <div class="pull-right icon-close">
        <em (click)="handleCancelPassword()" nz-icon nzType="close" nzTheme="outline"></em>
      </div>
    </ng-template>
    <div class="input-wrap">
      <label class="title-detail" nz-col [nzSpan]="8">Mật khẩu<em class="fa fa-asterisk required"></em></label>
      <nz-input-group style="width: auto !important;" [nzSuffix]="suffixTemplate" nz-col [nzSpan]="16">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu"
          autocomplete="new-password" formControlName="password" />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </div>
    <div class="input-wrap">
      <label class="title-detail" nz-col [nzSpan]="8">Nhắc lại<em class="fa fa-asterisk required"></em></label>
      <nz-input-group style="width: auto !important;" [nzSuffix]="suffixRepeatTemplate" nz-col [nzSpan]="16">
        <input [type]="repeatpasswordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu"
          autocomplete="new-password" formControlName="repeatPassword" />
      </nz-input-group>
      <ng-template #suffixRepeatTemplate>
        <i nz-icon [nzType]="repeatpasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="repeatpasswordVisible = !repeatpasswordVisible"></i>
      </ng-template>
    </div>
    <!-- Footer -->
    <div *nzModalFooter>
      <button nz-button (click)="handleCancelPassword()">{{'cancel' | translate }}</button>
      <button nz-button nzType="primary" (click)="handleOkPassword()" class="button-submit">{{'save' | translate
        }}</button>
    </div>
  </nz-modal>
</form>

<nz-modal [(nzVisible)]="isVisibleUserGroup" nzClosable="false" [nzTitle]="titleUserGroup" nzMaskClosable="false">
  <ng-template #titleUserGroup>
    Danh sách nhóm
    <div class="pull-right icon-close">
      <em (click)="handleCancelUserGroup()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>
  <div class="row">
    <div class="col-md-9">
      <nz-select style="width: 100%" nzShowSearch [(ngModel)]="chooseGroup" nzPlaceHolder="Chọn nhóm tài khoản"
        class="input-search" [nzShowArrow]="true">
        <nz-option *ngFor="let o of groups" [nzLabel]="o.name" [nzValue]="o">
        </nz-option>
      </nz-select>
    </div>
    <div class="col-md-3">
      <button nz-button nzType="primary" (click)="addGroup2User()" class="button-submit right">Thêm mới</button>
    </div>
  </div>
  <br>
  <div class="data-table">
    <nz-table #basicTable [nzData]="usergroups" [nzPageSizeOptions]="pageSize" [nzPageSize]="defaultPage"
      nzShowSizeChanger [nzShowTotal]="rangeTemplate" [nzLoading]="loading">
      <thead>
        <tr>
          <th class="text-nowrap" width="50px">#</th>
          <th class="text-nowrap">Tên nhóm</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of usergroups;let i = index;">
          <td class="text-nowrap">{{i + 1}}</td>
          <td class="text-nowrap">{{ data.name }}</td>
          <td class="text-nowrap">
            <button title="Xóa nhóm" nz-button nzSize="small" nzType="default" class="btn-right button-update"
              (click)="showConfirmRemoveGroup(data.id)">
              <span class="fa fa-times fa-fw"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
    </ng-template>
  </div>
  <!-- Footer -->
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelUserGroup()">{{'cancel' | translate }}</button>
  </div>
</nz-modal>


<!--Thêm tài khoản đối tác con-->
<nz-modal (nzOnCancel)="handleCancel()" [(nzVisible)]="isVisibleAddAccount" [nzTitle]="titleaccount2"
  [nzContent]="contentaccount2" [nzFooter]="footeraccount2">
  <ng-template #titleaccount2>Thông tin tài khoản</ng-template>
  <ng-template #contentaccount2>
    <form nz-form [formGroup]="formAccount" (ngSubmit)="handleOkAddAccount()">
      <div nz-row class="input-wrap nz-row">
        <label class="title-detail" nz-col [nzSpan]="8" nzRequired nzFor="fullname">Họ và tên</label>
        <div nz-col [nzSpan]="16" nzErrorTip="The input is not valid fullname!">
          <input nz-input formControlName="fullname" placeholder="Họ và tên" />
        </div>
      </div>
      <div nz-row class="input-wrap nz-row">
        <label class="title-detail" nz-col [nzSpan]="8" nzRequired>Tên tài khoản</label>
        <div nz-col [nzSpan]="16">
          <input [readonly]="isEnableUsername" nz-input placeholder="Tên tài khoản" formControlName="username"
            autocomplete="new-password" />
        </div>
      </div>
      <div nz-row class="input-wrap nz-row">
        <label class="title-detail" nz-col [nzSpan]="8" nzFor="password" nzRequired>Mật khẩu</label>
        <div nz-col [nzSpan]="16">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input nz-input formControlName="password" [type]="passwordVisible ? 'text' : 'password'"
              autocomplete="new-password" />
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </nz-input-group>
        </div>
      </div>
      <div nz-row class="input-wrap nz-row">
        <label class="title-detail" nz-col [nzSpan]="8" nzFor="repeatPassword" nzRequired>Lặp lại mật khẩu</label>
        <div nz-col [nzSpan]="16">
          <nz-input-group [nzSuffix]="suffixRepeatTemplate">
            <input nz-input [type]="repeatpasswordVisible ? 'text' : 'password'" formControlName="repeatPassword"
              autocomplete="new-password" />
            <ng-template #suffixRepeatTemplate>
              <i nz-icon [nzType]="repeatpasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="repeatpasswordVisible = !repeatpasswordVisible"></i>
            </ng-template>
          </nz-input-group>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #footeraccount2>
    <button nz-button nzType="dashed" (click)="handleCancel()">{{'cancel' | translate }}</button>
    <button nz-button nzType="primary" (click)="handleOkAddAccount()">{{'save' | translate }}</button>
  </ng-template>
</nz-modal>
