.icon > span{
  opacity: 0.5;
}
body{margin-top:20px;}
.card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}
.border-0 {
    border: 0!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

section {
    padding: 2rem 0;
    overflow: hidden;
    background: #fff;
}
.mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
}

.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.text-primary {
    color: #ceaa4d !important;
}
.text-secondary {
    color: #15395A !important;
}
.font-weight-600 {
    font-weight: 600;
}
.display-26 {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px){
    .p-lg-7 {
        padding: 4rem;
    }
}
@media screen and (min-width: 768px){
    .p-md-6 {
        padding: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}
.p-1-9 {
    padding: 1.9rem;
}

.bg-secondary {
    background: #15395A !important;
}
@media screen and (min-width: 576px){
    .pe-sm-6, .px-sm-6 {
        padding-right: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
}
.pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
}
.ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
}
.pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
}
.pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
}
.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}
@media (min-width: 992px){
    .d-lg-inline-block {
        display: inline-block!important;
    }
}
.rounded {
    border-radius: 0.25rem!important;
}


/*Commnet thì dùng kiểu này*/
.box-revenue-text {
  ul{
    padding: 0;
  }
  li {
    list-style: none;
    padding: 5px;
    margin-bottom: 10px;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }

    span {
      color: #697582;
    }

    label {
      display: block;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.legend {
  font-size: 20px;
}
.d-flex{
  span.fa {
    font-size: 31px;
  }
}
::ng-deep {
  .w-xaxis {
    width: 80px;
    text-overflow: ellipsis;
  }

  /*#kt_content {
    background: #F8F9FA !important;
  }*/
}
.bg-grey {
  background: #F8F9FA !important;
}
.row{
  margin: 0;
}
.line1{
  height: 400px;
}
.card-title{
  margin: 0;
  padding: 8px;
  h3{
    font-size: 18px;
    margin: 0;
  }
}
.card-title {
  a{
    float: right;
  }
  h3{
    float: left;
  }
}
::ng-deep{
  .dx-datagrid-group-panel .dx-group-panel-message{
    padding: 0 !important;
    padding-left: 8px !important;
  }
  .dx-datagrid-header-panel .dx-toolbar{
    margin: 0;
  }
}







// .region_flex{
//   display: flex;
//   width: 100%;
//   /*height: calc(100vh - 185px);*/
// }
// .chart_1{
//   width: 50%;
//   align-items: center;
//   margin-right: 10px;
//   background: #FFFFFF;
//   /*box-shadow: 0px 1.5px 15px rgba(0, 0, 0, 0.15);*/
//   border-radius: 5px;
// }
// .chart_2{
//   width: 50%;
//   align-items: center;
//   margin-left: 10px;
//   background: #FFFFFF;
//   /*box-shadow: 0px 1.5px 15px rgba(0, 0, 0, 0.15);*/
//   border-radius: 5px;
// }
// #chart1 {
//   width: 100%;
// }
// #chart{
//   width: 70%;
// }
// .stype_text{
//   margin-left: 20px;
// }
// .div-button{
//   clear: both;
//   display: block;
//   overflow: hidden;
//   margin-bottom: 10px;
// }
// .filter-left{
//   min-width: 100%;
// }
// ::ng-deep {
//   .filter-left input, .filter-left select, .filter-left nz-select, .filter-left button {
//     margin-right: 10px;
//   }
//   .ant-result-title {
//     font-size: 18px;
//   }
//   .ant-result{
//     padding-top: 10px;
//   }
// }
// .chart-region{
//   border: solid 1px #EEE;
// }
// .chart-title{
//   padding:4px 10px;
//   background: #EEE;
//   font-size: 18px;
// }
// .text-center{
//   text-align: center;
// }
// .a-download{
//   color: #FFF !important;
//   border-radius: 4px;
//   padding: 2px 6px;
//   margin-left: 9px;
//   background: #57CC99;
// }
// ::ng-deep {
//   .apexcharts-legend-text {
//     font-size: 14px !important;
//     font-family: Roboto !important;
//   }
//   .apexcharts-text tspan {
//     font-family: 'Roboto' !important;
//     font-size: 14px !important;
//   }
// }
// nz-alert {
//   margin-bottom: 16px;
// }
// .btn-detail{
//   position: absolute;
//   right: 10px;
//   top: 15px;
// }
// ::ng-deep .ant-alert p{
//   margin: 0 !important;
// }
.div-chart{
  border: solid 1px #CCC;
  padding: 8px;
  min-height: 320px;
  border-radius: 4px;
}
