<div class="main-wapper">
  <div class="toolbar">
    <div class="before">
      <h2 class="toolbar-title">Dashboard</h2>
    </div>
    <div class="after">
      <div class="buttons">
        <nz-select style="width: 200px; margin-right: 10px;" [(ngModel)]="search.type" (ngModelChange)="doSearch()">
          <nz-option *ngFor="let option of TIME_RANGE_FILTER" [nzValue]="option.value"
                     [nzLabel]="option.label"></nz-option>
        </nz-select>
        <ng-container *ngIf="search.type == 10">
          <nz-date-picker style="margin-right: 10px;" [(ngModel)]="search.fromDate" (ngModelChange)="doSearch()"
                          nzPlaceHolder="Từ ngày" nzFormat="dd/MM/yyyy"></nz-date-picker>
          <nz-date-picker [(ngModel)]="search.toDate" (ngModelChange)="doSearch()" nzPlaceHolder="Đến ngày"
                          nzFormat="dd/MM/yyyy"></nz-date-picker>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="card border-0 pt-3">
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="d-flex align-items-center p-2 border rounded bg-light shadow-sm" style="gap: 12px">
          <div class="icon">
            <span class="fa fa-fw fa-plane"></span>
          </div>
          <div class="form-group" *ngIf="avgItem">
            <label>Trung bình thời gian yêu cầu được xử lý thành công: (Dịch vụ vé máy bay)</label>
            <div class="d-flex align-items-center">
              <strong class="h3 mr-2">{{avgItem.averageTimePlaneSuccess}} (giờ)</strong>
              <small *ngIf="avgItem.averageTimePlaneSuccessPercentSamePeriod < 0"
                     class="font-weight-normal text-danger">(Giảm {{avgItem.averageTimePlaneSuccessPercentSamePeriod}}%
                so với cùng kỳ)</small>
              <small *ngIf="avgItem.averageTimePlaneSuccessPercentSamePeriod >= 0"
                     class="font-weight-normal text-success">(Tăng {{avgItem.averageTimePlaneSuccessPercentSamePeriod}}%
                so với cùng kỳ)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex align-items-center p-2 border rounded bg-light shadow-sm" style="gap: 12px">
          <div class="icon">
            <span class="fa fa-fw fa-exclamation-triangle"></span>
          </div>
          <div class="form-group" *ngIf="avgItem">
            <label>Tỷ lệ lỗi phát sinh trên hệ thống: (Dịch vụ vé máy bay)</label>
            <div class="d-flex align-items-center">
              <strong class="h3 mr-2">{{avgItem.percentPlaneError}}%</strong>
              <small *ngIf="avgItem.percentPlaneErrorPercentSamePeriod < 0"
                     class="font-weight-normal text-danger">(Giảm {{avgItem.percentPlaneErrorPercentSamePeriod}}% so với
                cùng kỳ)</small>
              <small *ngIf="avgItem.percentPlaneErrorPercentSamePeriod >= 0"
                     class="font-weight-normal text-success">(Tăng {{avgItem.percentPlaneErrorPercentSamePeriod}}% so
                với cùng kỳ)</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <div class="d-flex align-items-center p-2 border rounded bg-light shadow-sm" style="gap: 12px">
          <div class="icon">
            <span class="fa fa-fw fa-bed"></span>
          </div>
          <div class="form-group" *ngIf="avgItem">
            <label>Trung bình thời gian yêu cầu được xử lý thành công: (Dịch vụ lưu trú)</label>
            <div class="d-flex align-items-center">
              <strong class="h3 mr-2">{{avgItem.averageTimeHotelSuccess}} (giờ)</strong>
              <small *ngIf="avgItem.averageTimeHotelSuccessPercentSamePeriod < 0"
                     class="font-weight-normal text-danger">(Giảm {{avgItem.averageTimeHotelSuccessPercentSamePeriod}}%
                so với cùng kỳ)</small>
              <small *ngIf="avgItem.averageTimeHotelSuccessPercentSamePeriod >= 0"
                     class="font-weight-normal text-success">(Tăng {{avgItem.averageTimeHotelSuccessPercentSamePeriod}}%
                so với cùng kỳ)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex align-items-center p-2 border rounded bg-light shadow-sm" style="gap: 12px">
          <div class="icon">
            <span class="fa fa-fw fa-exclamation-triangle"></span>
          </div>
          <div class="form-group" *ngIf="avgItem">
            <label>Tỷ lệ lỗi phát sinh trên hệ thống: (Dịch vụ lưu trú)</label>
            <div class="d-flex align-items-center">
              <strong class="h3 mr-2">{{avgItem.percentHotelError}}%</strong>
              <small *ngIf="avgItem.percentHotelErrorPercentSamePeriod < 0"
                     class="font-weight-normal text-danger">(Giảm {{avgItem.percentHotelErrorPercentSamePeriod}}% so với
                cùng kỳ)</small>
              <small *ngIf="avgItem.percentHotelErrorPercentSamePeriod >= 0"
                     class="font-weight-normal text-success">(Tăng {{avgItem.percentHotelErrorPercentSamePeriod}}% so
                với cùng kỳ)</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <div class="div-chart">
          <div class="text-center">
            Tài khoản người dùng
          </div>
          <apx-chart *ngIf="pieChartUserOptions"
                     [series]="pieChartUserOptions.series"
                     [chart]="pieChartUserOptions.chart"
                     [labels]="pieChartUserOptions.labels"
                     [responsive]="pieChartUserOptions.responsive"
          ></apx-chart>
        </div>
      </div>
      <div class="col-md-4">
        <div class="div-chart">
          <div class="text-center">
            Phân bổ lợi nhuận
          </div>
          <apx-chart *ngIf="pieChartProfitOptions"
                     [series]="pieChartProfitOptions.series"
                     [chart]="pieChartProfitOptions.chart"
                     [labels]="pieChartProfitOptions.labels"
                     [responsive]="pieChartProfitOptions.responsive"
          ></apx-chart>
        </div>
      </div>
      <div class="col-md-4">
        <div class="div-chart">
          <div class="text-center">
            Yêu cầu dịch vụ
          </div>
          <apx-chart *ngIf="pieChartServiceOptions"
                     [series]="pieChartServiceOptions.series"
                     [chart]="pieChartServiceOptions.chart"
                     [labels]="pieChartServiceOptions.labels"
                     [responsive]="pieChartServiceOptions.responsive"
          ></apx-chart>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <div class="div-chart">
          <div class="text-center">
            Chỉ số NPS
          </div>
          <apx-chart *ngIf="pieChartRatingOptions"
                     [series]="pieChartRatingOptions.series"
                     [chart]="pieChartRatingOptions.chart"
                     [labels]="pieChartRatingOptions.labels"
                     [responsive]="pieChartRatingOptions.responsive"
          ></apx-chart>
        </div>
      </div>
      <div class="col-md-4">
        <div class="div-chart">
          <div class="text-center">
            Chỉ số đặt gấp
          </div>
          <apx-chart *ngIf="pieChartBookingUrgentOptions"
                     [series]="pieChartBookingUrgentOptions.series"
                     [chart]="pieChartBookingUrgentOptions.chart"
                     [labels]="pieChartBookingUrgentOptions.labels"
                     [responsive]="pieChartBookingUrgentOptions.responsive"
          ></apx-chart>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="div-chart">
          <div class="text-center">
            Yêu cầu dịch vụ
          </div>
          <apx-chart *ngIf="chartOptions"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
          ></apx-chart>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <div class="div-chart">
          <div class="text-center">
            Doanh thu theo doanh nghiệp
          </div>
          <apx-chart *ngIf="chartRevenueOptions"
            [series]="chartRevenueOptions.series"
            [chart]="chartRevenueOptions.chart"
            [dataLabels]="chartRevenueOptions.dataLabels"
            [plotOptions]="chartRevenueOptions.plotOptions"
            [xaxis]="chartRevenueOptions.xaxis"
            [stroke]="chartRevenueOptions.stroke"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>

