.status:hover {
    cursor: pointer;
}

.confirmed {
    color: #37c373;
}

.not-confirmed {
    color: #d37e7e;
}

::ng-deep dx-data-grid {
  &#gridContainer {
    // height: 100%;
    height: calc(100% - 38px) !important;
  }
}
