.inner-box {
  background: #fff;
  padding: 8px;
}


div.content-create-company {
  height: 100%;
  background: #F8F9FA;
  padding: 8px;
}

.text-aligin-center {
  text-align: center;
}

.fs-xl {
  font-size: x-large;
}




::ng-deep tr.ant-table-placeholder.ng-star-inserted {
  display: none;


}

::ng-deep {
  .icon-info-note {
    color: tomato;
    font-size: smaller;
    vertical-align: super;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}
