<div class="content-create-company">
  <div nz-row [nzGutter]="[16, 24]">
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box" style="display: flex; justify-content: space-between; align-items: center;">
        <span style="font-weight: 500; font-size: 18px;">{{titleActionCompanyPage}}</span>
        <div>
          <button nz-button nzType="default" style="margin-right: 8px;">
            <div style="display: flex; align-items: center;">
              <span nz-icon nzType="send"></span>
              <span style="margin-left: 6px; line-height: normal;">Gửi duyệt</span>
            </div>
          </button>
          <button nz-button nzDanger nzType="text" (click)="cancelPageActionPartner()">
            <div style="display: flex; align-items: center;">
              <span nz-icon nzType="close"></span>
              <span style="margin-left: 4px; line-height: normal;">Huỷ bỏ</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="formBaseInfoCreatePartner">
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col class="gutter-row" [nzSpan]="24">
        <div class="inner-box">
          <!-- Header Base Information -->
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="font-weight: 500; font-size: 18px;">Thông tin cơ bản</span>
            <div>
              <button [disabled]="!isActiveEditBaseInfo" nz-button nzType="primary" style="margin-right: 8px;"
                (click)="saveBaseInfoPartner()">
                <div style="display: flex; align-items: center;">
                  <span nz-icon nzType="save"></span>
                  <span style="margin-left: 6px; line-height: normal;">Lưu lại</span>
                </div>
              </button>
              <button [disabled]="isActiveEditBaseInfo" nz-button nzType="primary" style="margin-right: 8px;"
                (click)="editBaseInfoPartner()">
                <div style="display: flex; align-items: center;">
                  <span nz-icon nzType="edit"></span>
                  <span style="margin-left: 6px; line-height: normal;">Chỉnh sửa</span>
                </div>
              </button>
              <button nz-button nzDanger nzType="default" (click)="cancelBaseInfoPartner()">
                <div style="display: flex; align-items: center;">
                  <span nz-icon nzType="close"></span>
                  <span style="margin-left: 4px; line-height: normal;">Huỷ bỏ</span>
                </div>
              </button>
            </div>
          </div>

          <!-- Content Base Information -->
          <div>
            <div style="height: 1px; margin: 16px 0; background-color: #0000000f;"></div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
              <div nz-col class="gutter-row" [nzSpan]="8">
                <div>
                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      Trạng thái
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <nz-select nzShowSearch nzMode="default" nzPlaceHolder="Trạng thái hoạt động"
                        formControlName='status'>
                        <nz-option *ngFor="let op of PARTNER_STATUS_OPTIONS" nzLabel="{{op.label}}"
                          [nzValue]="op.value"></nz-option>
                      </nz-select>
                    </div>
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Mã tạo hồ sơ
                      <span style="color: tomato; margin-left: 4px;">*</span>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <input style="border-radius: 4px;" nzSize="default" nz-input type="text" formControlName='code'
                        placeholder="Nhập mã doanh nghiệp">
                    </div>
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Tên doanh nghiệp
                      <span style="color: tomato; margin-left: 4px;">*</span>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                        formControlName='companyName' placeholder="Nhập tên doanh nghiệp">
                    </div>
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Mã số thuế
                      <span style="color: tomato; margin-left: 4px;">*</span>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <input style="border-radius: 4px;" nzSize="default" nz-input type="text" formControlName='taxCode'
                        placeholder="Nhập mã số thuế">
                    </div>
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Cho phép công nợ
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <nz-radio-group formControlName='allowDebt'>
                        <label nz-radio [nzValue]="AllowDebtPartner.ALLOW">Có</label>
                        <label nz-radio [nzValue]="AllowDebtPartner.NOTALLOW">Không</label>
                      </nz-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="8">
                <div>
                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Số điện thoại
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                        placeholder="Nhập điện thoại doanh nghiệp" formControlName='phone'>
                    </div>
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Email doanh nghiệp
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                        placeholder="Nhập email doanh nghiệp" formControlName='email'>
                    </div>
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Địa chỉ doanh nghiệp
                      <span style="color: tomato; margin-left: 4px;">*</span>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                        placeholder="Nhập địa chỉ doanh nghiệp" formControlName='address'>
                    </div>
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      Chủ doanh nghiệp
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                        placeholder="Nhập chủ doanh nghiệp" formControlName='name'>
                    </div>

                    <!-- <div nz-col class="gutter-row" [nzSpan]="14">
                      <nz-select style="border-radius: 4px;" nzSize="default" nzMode="default"
                        formControlName='businessOwnerId' nzPlaceHolder="Nhập chủ doanh nghiệp" nzAllowClear
                        nzShowSearch>
                        <nz-option *ngFor="let employee of employees"
                          nzLabel="{{employee.fullname}} - {{employee.username}}" [nzValue]="employee.id"></nz-option>
                      </nz-select>
                    </div> -->
                  </div>

                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                    style="display: flex; align-items: center; padding: 8px 0;">
                    <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                      File giấy uỷ quyền
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="14">
                      <nz-upload *ngIf="settingUploadAuthorizationFile && settingUploadAuthorizationFile?.action"
                        [nzMultiple]="settingUploadAuthorizationFile?.isMultiple"
                        [nzAction]="settingUploadAuthorizationFile?.action"
                        [nzName]="settingUploadAuthorizationFile?.name"
                        [nzHeaders]="settingUploadAuthorizationFile?.header"
                        [nzRemove]="handleRemoveUploadAuthorizationFile"
                        [nzShowUploadList]="settingUploadAuthorizationFile?.showUploadList"
                        [nzFileList]="listUploadAuthorizationFile"
                        (nzChange)="handleChangeUploadAuthorizationFile($event)">
                        <button nz-button nzType="default" [nzSize]="'default'" nzShape="round"><span nz-icon
                            nzType="upload"></span></button>
                      </nz-upload>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="formBaseInfoCreatePartner.get('allowDebt')?.value == AllowDebtPartner.ALLOW" nz-col
                class="gutter-row" [nzSpan]="4">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Số dư hiện tại
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24"
                    style="display: flex; align-items: center; color: #007AFF;">
                    {{debtBearingSales?.currentBalance ? debtBearingSales?.currentBalance : '-' }} đ
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Hạn mức tối đa
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24" style="display: flex; align-items: center;">
                    {{debtBearingSales?.debtMax ? debtBearingSales?.debtMax : '-' }} đ
                  </div>
                </div>
              </div>
              <div *ngIf="formBaseInfoCreatePartner.get('allowDebt')?.value == AllowDebtPartner.ALLOW" nz-col
                class="gutter-row" [nzSpan]="4">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Phát sinh trong kỳ
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24" style="display: flex; align-items: center;">
                    <span *ngIf="debtBearingSales?.amountIncurredDuringPeriod >= 0" style="color: #495057">
                      {{debtBearingSales?.amountIncurredDuringPeriod ? debtBearingSales?.amountIncurredDuringPeriod :
                      '-'
                      }} đ
                    </span>
                    <span *ngIf="debtBearingSales?.amountIncurredDuringPeriod < 0" style="color: #900B09">
                      ({{debtBearingSales?.amountIncurredDuringPeriod ? debtBearingSales?.amountIncurredDuringPeriod :
                      '-'
                      }} đ)
                    </span>
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Hạn mức sử dụng
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24"
                    style="display: flex; align-items: center; color: #188D47">
                    {{debtBearingSales?.usageLimit ? debtBearingSales?.usageLimit : '-' }} đ
                  </div>
                </div>
              </div>

              <div *ngIf="formBaseInfoCreatePartner.get('allowDebt')?.value == AllowDebtPartner.NOTALLOW" nz-col
                class="gutter-row" [nzSpan]="4">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Số dư đầu kỳ
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24"
                    style="display: flex; align-items: center; color:  #007AFF;">
                    {{debtFreeRevenue?.beginningBalance ? debtFreeRevenue?.beginningBalance : '-' }} đ
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Phát sinh tăng trong kỳ
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24" style="display: flex; align-items: center;">
                    {{debtFreeRevenue?.increaseInGeneration ? debtFreeRevenue?.increaseInGeneration : '-' }} đ
                  </div>
                </div>
              </div>
              <div *ngIf="formBaseInfoCreatePartner.get('allowDebt')?.value == AllowDebtPartner.NOTALLOW" nz-col
                class="gutter-row" [nzSpan]="4">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Phát sinh giảm trong kỳ
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24"
                    style="display: flex; align-items: center; color: #900B09;">
                    ({{debtFreeRevenue?.decreaseInGeneration
                    ? debtFreeRevenue?.decreaseInGeneration : '-' }} đ)
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row" [nzSpan]="24" style="display: flex; align-items: center;">
                    Số dư cuối kỳ
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  style="display: flex; align-items: center; padding: 8px 0;">
                  <div nz-col class="gutter-row fs-xl" [nzSpan]="24"
                    style="display: flex; align-items: center; color: #007AFF;">
                    {{debtFreeRevenue?.endingBalance ? debtFreeRevenue?.endingBalance : '-' }} đ
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div nz-row [nzGutter]="[16, 24]">
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box">
        <ul nz-menu nzMode="horizontal">
          <li nz-menu-item [nzSelected]="selectedMenu == option.value"
            *ngFor="let option of MENU_UPGRADE_PARTNER_OPTION; let i = index" (click)="selectedMenu = option.value">
            {{option.label}}
          </li>
        </ul>
        <div style="margin: 16px 0;"></div>

        <div *ngIf="selectedMenu == MenuCreatePartner.ContractManagement">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="font-weight: 500; font-size: 16px;">Quản lý thông tin hợp đồng</span>
            <div>
              <button nz-button nzType="primary" style="margin-right: 8px;" [disabled]="!itemPartner?.id"
                (click)="saveUpdateContractInfoForPartner()">
                <div style="display: flex; align-items: center;">
                  <span nz-icon nzType="save"></span>
                  <span style="margin-left: 6px; line-height: normal;">Lưu lại</span>
                </div>
              </button>
              <button nz-button nzDanger nzType="default" (click)="cancelUpdateContractInfoForPartner()">
                <div style="display: flex; align-items: center;">
                  <span nz-icon nzType="close"></span>
                  <span style="margin-left: 4px; line-height: normal;">Huỷ bỏ</span>
                </div>
              </button>
            </div>
          </div>
          <form [formGroup]="formBaseBusinessContractUpdate">
            <div>
              <div style="height: 1px; margin: 16px 0; background-color: #0000000f;"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="overflow-y: auto; max-height: 19rem;">
                <div nz-col class="gutter-row" [nzSpan]="12">
                  <div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        File giấy phép KD
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-upload *ngIf="settingUploadBusinessLicenseFile && settingUploadBusinessLicenseFile?.action"
                          [nzMultiple]="settingUploadBusinessLicenseFile?.isMultiple"
                          [nzAction]="settingUploadBusinessLicenseFile?.action"
                          [nzName]="settingUploadBusinessLicenseFile?.name"
                          [nzHeaders]="settingUploadBusinessLicenseFile?.header"
                          [nzRemove]="handleRemoveUploadBusinessLicenseFile"
                          [nzShowUploadList]="settingUploadBusinessLicenseFile?.showUploadList"
                          [nzFileList]="listUploadBusinessLicenseFile"
                          (nzChange)="handleChangeUploadBusinessLicenseFile($event)">
                          <button nz-button nzType="default" [nzSize]="'default'" nzShape="round"><span nz-icon
                              nzType="upload"></span></button>
                        </nz-upload>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        File hợp đồng <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-upload *ngIf="settingUploadContractFile && settingUploadContractFile.action"
                          [nzMultiple]="settingUploadContractFile?.isMultiple"
                          [nzAction]="settingUploadContractFile?.action" [nzName]="settingUploadContractFile?.name"
                          [nzHeaders]="settingUploadContractFile?.header" [nzRemove]="handleRemoveUploadContractFile"
                          [nzShowUploadList]="settingUploadContractFile?.showUploadList"
                          [nzFileList]="listUploadContractFile" (nzChange)="handleChangeUploadContractFile($event)">
                          <button nz-button nzType="default" [nzSize]="'default'" nzShape="round"><span nz-icon
                              nzType="upload"></span></button>
                        </nz-upload>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Người phụ trách
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <!-- <nz-select style="border-radius: 4px;" nzSize="default" nzMode="default"
                          nzPlaceHolder="Nhập người phụ trách" formControlName='personInChargeId'
                          (ngModelChange)="onSelectPersonInCharge($event)" nzAllowClear nzShowSearch>
                          <nz-option *ngFor="let employee of employees"
                            nzLabel="{{employee.fullname}} - {{employee.username}}" [nzValue]="employee.id"></nz-option>
                        </nz-select> -->
                        <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                          formControlName='namePersonInCharge' placeholder="Nhập tên người phụ trách">
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Chức vụ
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                          formControlName='positionPersonInCharge' placeholder="Nhập chức vụ">
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Số điện thoại
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                          formControlName='phoneNumberPersonInCharge' placeholder="Nhập số điện thoại">
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Email cá nhân
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                          formControlName='emailPersonInCharge' placeholder="Nhập email cá nhân">
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="12">
                  <div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Thời gian bẳt đầu HĐ
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-date-picker [nzMode]="'date'" nzSize="default" style="border-radius: 4px; width: 100%;"
                          nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn thời gian bắt đầu"
                          formControlName='startTimeContractDate'></nz-date-picker>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Thời gian kết thúc HĐ
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-date-picker [nzMode]="'date'" nzSize="default" style="border-radius: 4px; width: 100%;"
                          nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn thời gian kết thúc"
                          formControlName='endTimeContractDate'></nz-date-picker>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Email nhận hoá đơn
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                          placeholder="Nhập email nhận hoá đơn" formControlName='emailToReceiveInvoice'>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Thời gian thanh toán
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="6">
                        <nz-select (ngModelChange)="changeValuePaymentPeriod($event)" nzAllowClear
                          nzPlaceHolder="Chọn kỳ thanh toán" formControlName='paymentPeriodType'>
                          <nz-option *ngFor="let op of PAYMENT_PERIOD_VHL_OPTIONS" nzLabel="{{op.label}}"
                            [nzValue]="op.value"></nz-option>
                        </nz-select>
                      </div>

                      <div nz-col class="gutter-row" [nzSpan]="6">
                        <nz-select nzPlaceHolder="Chọn ngày trong kỳ" formControlName='dayOfPeriodType' nzAllowClear
                          nzShowSearch>
                          <nz-option *ngFor="let op of PAYMENT_PERIOD_DAYS_OPTIONS" nzLabel="{{op.label}}"
                            [nzValue]="op.value"></nz-option>
                        </nz-select>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Hạn mức tối đa
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <input style="border-radius: 4px;" nzSize="default" formControlName='debtMax' nz-input
                          type="text" placeholder="Nhập hạn mức tối đa">
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Hạn mức cảnh báo
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <input style="border-radius: 4px;" nzSize="default" formControlName='warningLimitPrice' nz-input
                          type="text" placeholder="Nhập hạn mức cảnh báo">
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                      style="display: flex; align-items: center; padding: 8px 0;">
                      <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                        Dịch vụ đăng kí
                        <span style="color: tomato; margin-left: 4px;">*</span>
                      </div>
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-checkbox-group [(ngModel)]="checkOptionsBusinessServiceVHL"
                          [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="selectedMenu == MenuCreatePartner.ListEmployees">
          <!-- Header list emloyees -->
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="font-weight: 500; font-size: 16px;">Danh sách nhân viên</span>
            <div style="display: flex; align-items: center;">
              <input style="width: 200px; border-radius: 4px; height: 32px; margin-right: 4rem;" nzSize="default"
                nz-input type="text" placeholder="Tìm kiếm nhân viên" [(ngModel)]="searchEmployee"
                (keyup)="onSearchEmployee()">
              <div>
                <button [disabled]="!itemPartner?.id" nz-button nz-dropdown nzType="primary"
                  style="margin-right: 0.5rem;" [nzDropdownMenu]="menuListEmployeesVHL">
                  <div style="display: flex; align-items: center;">
                    <span nz-icon nzType="plus"></span>
                    <span style="margin: 0 6px; line-height: normal;">Thêm mới</span>
                    <span nz-icon nzType="down"></span>
                  </div>
                </button>
                <nz-dropdown-menu [disabled]="!itemPartner?.id" #menuListEmployeesVHL="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item style="padding: 0.5rem 0;" [nzDisabled]="!itemPartner?.id">
                      <div style="display: flex; align-items: center;">
                        <span nz-icon nzType="plus"></span>
                        <span style="margin-left: 6px; line-height: normal;"
                          (click)="navigatePage('companies/employee-action/create', ActionTypePageVHL.Create)">Thêm nhân
                          viên</span>
                      </div>
                    </li>
                    <li nz-menu-item style="padding: 0.5rem 0;" [nzDisabled]="!itemPartner?.id">
                      <nz-upload
                        *ngIf="settingUploadEmployeeForPartnerFile && settingUploadEmployeeForPartnerFile?.action"
                        [nzMultiple]="settingUploadEmployeeForPartnerFile?.isMultiple"
                        [nzAction]="settingUploadEmployeeForPartnerFile?.action"
                        [nzName]="settingUploadEmployeeForPartnerFile?.name"
                        [nzHeaders]="settingUploadEmployeeForPartnerFile?.header"
                        [nzRemove]="handleRemoveUploadAuthorizationFile" [nzShowUploadList]="false"
                        [nzFileList]="listUploadEmployeeForPartnerFile"
                        (nzChange)="handleChangeUploadEmployeeForPartnerFile($event)">
                        <div style="display: flex; align-items: center;">
                          <span nz-icon nzType="upload"></span>
                          <span style="margin-left: 6px; line-height: normal;">Tải lên file excel</span>
                        </div>
                      </nz-upload>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>


              <div>
                <button [disabled]="!itemPartner?.id" nz-button nz-dropdown nzType="dashed"
                  style="margin-right: 0.5rem;" [nzDropdownMenu]="menuListEmployeesVHLExport">
                  <div style="display: flex; align-items: center;">
                    <span nz-icon nzType="plus"></span>
                    <span style="margin: 0 6px; line-height: normal;">Tải file</span>
                    <span nz-icon nzType="down"></span>
                  </div>
                </button>
                <nz-dropdown-menu [disabled]="!itemPartner?.id" #menuListEmployeesVHLExport="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item style="padding: 0.5rem 0;" [nzDisabled]="!itemPartner?.id"
                      (click)="downloadFileEmployeeForPartnerTemplate()">
                      <div style="display: flex; align-items: center;">
                        <span nz-icon nzType="download"></span>
                        <span style="margin-left: 6px; line-height: normal;">Tải file mẫu</span>
                      </div>
                    </li>
                    <li nz-menu-item style="padding: 0.5rem 0;" [nzDisabled]="!itemPartner?.id"
                      (click)="downloadExcelEmployeeForPartner(itemPartner?.id)">
                      <div style="display: flex; align-items: center;">
                        <span nz-icon nzType="download"></span>
                        <span style="margin-left: 6px; line-height: normal;">Xuất file excel</span>
                      </div>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
              <button [disabled]="!itemPartner?.id || allUnCheckedEmployee" nz-button nzType="default" nzDanger
                (click)="showLockAccountConfirm(LockType.MULTIPLE)">
                <div style="display: flex; align-items: center;">
                  <span nz-icon nzType="lock"></span>
                  <span style="margin-left: 4px; line-height: normal;">Khoá tài khoản</span>
                </div>
              </button>
            </div>
          </div>
          <div style="margin: 16px 0;"></div>
          <!-- Content lisst employees -->
          <div>
            <nz-table #tagEmployeeTable [nzScroll]="{ x: scrollXEmployeesValue, y: scrollYEmployeesValue }"
              [nzData]="listOfEmployees" [nzTableLayout]="settingTableEmployeesValue.tableLayout"
              [nzBordered]="settingTableEmployeesValue.bordered" [nzSimple]="settingTableEmployeesValue.simple"
              [nzLoading]="settingTableEmployeesValue.loading"
              [nzPaginationType]="settingTableEmployeesValue.paginationType"
              [nzPaginationPosition]="settingTableEmployeesValue.position"
              [nzShowSizeChanger]="settingTableEmployeesValue.sizeChanger"
              [nzFrontPagination]="settingTableEmployeesValue.pagination"
              [nzShowPagination]="settingTableEmployeesValue.pagination"
              [nzFooter]="settingTableEmployeesValue.footer ? 'Here is Footer' : null"
              [nzTitle]="settingTableEmployeesValue.title ? 'Here is Title' : null"
              [nzNoResult]="settingTableEmployeesValue.noResultText ? settingTableEmployeesValue.noResultText : ''"
              [nzSize]="settingTableEmployeesValue.size"
              (nzCurrentPageDataChange)="currentPageDataChangeEmployee($event)">
              <thead>
                <tr *ngIf="settingTableEmployeesValue.header">
                  <th *ngIf="settingTableEmployeesValue.checkbox" nzWidth="60px" [(nzChecked)]="allCheckedEmployee"
                    [nzLeft]="fixedColumnEmployee" [nzIndeterminate]="indeterminateEmployee"
                    (nzCheckedChange)="checkAllEmployees($event)">
                  </th>
                  <th nzWidth="40px" [nzLeft]="fixedColumnEmployee">STT</th>
                  <th [nzLeft]="fixedColumnEmployee">Vai trò</th>
                  <th [nzLeft]="fixedColumnEmployee">Mã người dùng</th>
                  <th>Tên nhân viên</th>
                  <th>Trạng thái</th>
                  <th>Email</th>
                  <th>Số điện thoại</th>
                  <th>Giới tính</th>
                  <th>Quản lý trực tiếp</th>
                  <th>Mã thẻ thành viên</th>
                  <th [nzRight]="fixedColumnEmployee" class="text-aligin-center">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of tagEmployeeTable.data">
                  <tr>
                    <td [nzLeft]="fixedColumnEmployee" *ngIf="settingTableEmployeesValue.checkbox"
                      [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatusEmployee()"
                      [nzDisabled]="data.disabled"></td>
                    <td [nzLeft]="fixedColumnEmployee">
                      {{data.stt}}
                    </td>
                    <td [nzLeft]="fixedColumnEmployee" [nzDisabled]="data.disabled">{{ data.userType | userTypePipe }}
                    </td>
                    <td [nzDisabled]="data.disabled">{{ data.userCode }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.fullname }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.status | partnerStatusPipe}}</td>
                    <td [nzEllipsis]="settingTableEmployeesValue.ellipsis">{{ data.email }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.phoneNo }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.gender | genderPipe }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.directManagementUserId | employeePipe : employees }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.membershipCode }}</td>
                    <td [nzRight]="fixedColumnEmployee" [nzEllipsis]="settingTableEmployeesValue.ellipsis"
                      class="text-aligin-center">
                      <button title="Sửa thông tin thông tin nhân viên" nz-button nzSize="small" nzType="default"
                        class="button-update"
                        (click)="navigatePage('companies/employee-action/update', ActionTypePageVHL.Update, data.id)"
                        [disabled]="data.disabled">
                        <span class="fa fa-edit fa-fw"></span>
                      </button>


                      <button title="Thiết lập lại mật khẩu" nz-button nzSize="small" nzType="default"
                        class="button-update" [disabled]="data.disabled">
                        <span class="fa fa-key fa-fw"></span>
                      </button>



                      <button *ngIf="data.status == UserStatus.ACTIVE" title="Khóa quyền truy cập trang Customer Portal"
                        nz-button nzSize="small" nzType="default" class="button-update ant-btn-red"
                        (click)="showLockAccountConfirm(LockType.SINGLE, data)" [nzLoading]="data.isLoadingActiveUser">
                        <span class="fa fa-lock fa-fw"></span>
                      </button>

                      <button *ngIf="data.status == UserStatus.LOCKED"
                        title="Mở khóa quyền truy cập trang Customer Portal" nz-button nzSize="small" nzType="default"
                        class="button-update" (click)="showUnlockAccountConfirm(LockType.SINGLE, data)"
                        [nzLoading]="data.isLoadingActiveUser">

                        <span class='fa fa-unlock fa-fw '></span>
                      </button>


                    </td>
                  </tr>
                  <tr *ngIf="settingTableEmployeesValue.expandable" [nzExpand]="data.expand">
                    <span>{{ data.description }}</span>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </div>
        </div>

        <div *ngIf="selectedMenu == MenuCreatePartner.AccountInfomation">
          <!-- Header list emloyees -->
          <div *ngIf="formBaseInfoCreatePartner.get('allowDebt')?.value == AllowDebtPartner.ALLOW"
            style="display: flex; justify-content: space-between; align-items: center; font-size: 16px;">
            <div>
              Hạng mức sử dụng {{debtBearingSales?.usageLimit ? debtBearingSales?.usageLimit : '-' }} đ
            </div>

            <div>
              Dư nợ đầu kỳ {{debtBearingSales?.beginningBalance ? debtBearingSales.beginningBalance : '-' }} đ
            </div>

            <div>
              Phát sinh trong kỳ {{debtBearingSales?.amountIncurredDuringPeriod ?
              debtBearingSales.amountIncurredDuringPeriod : '-' }} đ
            </div>

            <div>
              Dư nợ cuối kỳ {{debtBearingSales?.endingBalance ? debtBearingSales.endingBalance : '-' }} đ
            </div>

            <div>
              Hạn thanh toán {{debtBearingSales?.expirationDate ? (debtBearingSales?.expirationDate | dateFormat) : '-'
              }}
            </div>

          </div>

          <div *ngIf="formBaseInfoCreatePartner.get('allowDebt')?.value == AllowDebtPartner.NOTALLOW"
            style="display: flex; justify-content: space-between; align-items: center; font-size: 16px;">
            <div>
              Số dư đầu kỳ {{debtFreeRevenue?.beginningBalance ? debtFreeRevenue.beginningBalance : '-' }} đ
            </div>

            <div>
              Phát sinh tăng trong kỳ {{debtFreeRevenue?.increaseInGeneration ? debtFreeRevenue.increaseInGeneration :
              '-' }} đ
            </div>

            <div style="color: #900B09;">
              Phát sinh giảm trong kỳ ({{debtFreeRevenue?.decreaseInGeneration ? debtFreeRevenue.decreaseInGeneration :
              '-' }} đ)
            </div>


            <div>
              Số dư cuối kỳ {{debtFreeRevenue?.endingBalance ? debtFreeRevenue.endingBalance : '-' }} đ
            </div>

          </div>


          <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 16px;">
            <span style="font-weight: 500; font-size: 16px;">Biến động số dư</span>
            <div style="display: flex; align-items: center;">
              <!-- <button [disabled]="!itemPartner?.id" nz-button nzType="primary" style="margin-right: 0.5rem;">
                <div style="display: flex; align-items: center;">
                  <span style="margin: 0 6px; line-height: normal;">In bảng kê khai</span>
                </div>
              </button> -->

              <button [disabled]="!itemPartner?.id" nz-button nzType="primary"
                style="margin-right: 0.5rem; background-color: #3B82F6;" (click)="showModalDepositAccount()">
                <div style="display: flex; align-items: center;">
                  <span style="margin: 0 6px; line-height: normal;">Nạp tiền tài khoản</span>
                </div>
              </button>
              <nz-modal [(nzVisible)]="isVisibleDepositAccount" nzTitle="Nạp tiền vào tài khoản"
                (nzOnCancel)="handleDepositAccountCancel()" (nzOnOk)="handleDepositAccountSave()"
                [nzOkLoading]="isDepositAccountOkLoading" nzMaskClosable="false">
                <div *nzModalContent>
                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                    <div nz-col class="gutter-row" [nzSpan]="24">
                      <form [formGroup]="formDepositAccount">
                        <div>
                          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                            style="display: flex; align-items: center; padding: 8px 0;">
                            <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                              Số tiền nạp vào
                              <span style="color: tomato; margin-left: 4px;">*</span>
                            </div>
                            <div nz-col class="gutter-row" [nzSpan]="16">
                              <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                                formControlName='amountDeposited' placeholder="Nhập số tiền nạp vào">
                            </div>
                          </div>

                          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                            style="display: flex; align-items: center; padding: 8px 0;">
                            <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                              Người thực hiện
                              <span style="color: tomato; margin-left: 4px;">*</span>
                            </div>
                            <div nz-col class="gutter-row" [nzSpan]="16">
                              <nz-select style="border-radius: 4px;" nzSize="default" nzMode="default"
                                formControlName='implenmentPersonId' nzPlaceHolder="Chọn người thực hiện" nzAllowClear
                                nzShowSearch>
                                <nz-option *ngFor="let employee of employees"
                                  nzLabel="{{employee.fullname}} - {{employee.username}}"
                                  [nzValue]="employee.id"></nz-option>
                              </nz-select>
                            </div>
                          </div>

                          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                            style="display: flex; align-items: center; padding: 8px 0;">
                            <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                              Nội dung nạp tiền
                              <span style="color: tomato; margin-left: 4px;">*</span>
                            </div>
                            <div nz-col class="gutter-row" [nzSpan]="16">
                              <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                                formControlName='depositContent' placeholder="Nạp tiền vào tài khoản">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div *nzModalFooter>
                  <button nz-button nzDanger nzType="text" (click)="handleDepositAccountCancel()">
                    <div style="display: flex; align-items: center;">
                      <span nz-icon nzType="close"></span>
                      <span style="margin-left: 4px; line-height: normal;">Huỷ</span>
                    </div>
                  </button>

                  <!-- [nzLoading]="isDepositAccountOkLoading"  -->
                  <button nz-button nzType="default" style="margin-right: 8px;" (click)="handleDepositAccountSave()">
                    <div style="display: flex; align-items: center;">
                      <span nz-icon nzType="save"></span>
                      <span style="margin-left: 6px; line-height: normal;">Cập nhật</span>
                    </div>
                  </button>
                </div>
              </nz-modal>

              <!-- <button [disabled]="!itemPartner?.id" nz-button nzType="default">
                <div style="display: flex; align-items: center;">
                  <span style="margin-left: 4px; line-height: normal;">Xem chi tiết</span>
                </div>
              </button> -->
            </div>
          </div>
          <div style="margin: 16px 0;"></div>
          <!-- Content lisst employees -->
          <div>
            <nz-table #tagBalanceFluctuation
              [nzScroll]="{ x: scrollXBalanceFluctuationValue, y: scrollYBalanceFluctuationValue }"
              [nzData]="listOfBalanceFluctuations" [nzTableLayout]="settingTableBalanceFluctuationValue.tableLayout"
              [nzBordered]="settingTableBalanceFluctuationValue.bordered"
              [nzSimple]="settingTableBalanceFluctuationValue.simple"
              [nzLoading]="settingTableBalanceFluctuationValue.loading"
              [nzPaginationType]="settingTableBalanceFluctuationValue.paginationType"
              [nzPaginationPosition]="settingTableBalanceFluctuationValue.position"
              [nzShowSizeChanger]="settingTableBalanceFluctuationValue.sizeChanger"
              [nzFrontPagination]="settingTableBalanceFluctuationValue.pagination"
              [nzShowPagination]="settingTableBalanceFluctuationValue.pagination"
              [nzFooter]="settingTableBalanceFluctuationValue.footer ? 'Here is Footer' : null"
              [nzTitle]="settingTableBalanceFluctuationValue.title ? 'Here is Title' : null"
              [nzNoResult]="settingTableBalanceFluctuationValue.noResultText ? settingTableBalanceFluctuationValue.noResultText : ''"
              [nzSize]="settingTableBalanceFluctuationValue.size"
              (nzCurrentPageDataChange)="currentPageDataChangeBalanceFluctuation($event)">
              <thead>
                <tr *ngIf="settingTableBalanceFluctuationValue.header">
                  <th nzWidth="40px" [nzLeft]="fixedColumnBalanceFluctuation">STT</th>
                  <th [nzLeft]="fixedColumnBalanceFluctuation">Thời gian giao dịch</th>
                  <th>Người thực hiện</th>
                  <th>Số tiền phát sinh</th>
                  <th>Nội dung giao dịch</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of tagBalanceFluctuation.data">
                  <tr>
                    <td [nzLeft]="fixedColumnBalanceFluctuation">
                      {{ data.stt }}
                    </td>
                    <td [nzLeft]="fixedColumnBalanceFluctuation" [nzDisabled]="data.disabled">{{ data.transactionTime |
                      dateFormat }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.implementPersonInfo }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.amount }}</td>
                    <td [nzDisabled]="data.disabled">{{ data.transactionContent}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
