<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Danh sách vé đã huỷ</h1>
  </div>
  <div class="form-group" style="float: right; display: flex; float: right">
    <!-- Tìm kiếm -->
    <input style="width: 200px; border-radius: 4px; height: 32px;" class="mgr10" nzSize="small" nz-input type="text"
      [(ngModel)]="searchText" (keyup)="onSearch()" placeholder="Tìm kiếm theo Tên khách hàng, Hãng bãy, ...">

    <!-- Nút xuất Excel -->
    <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button>
  </div>
</div>


<dx-data-grid id="gridContainer" [dataSource]="filteredDatas" #ListAccount [showColumnLines]="true"
  [showRowLines]="true" [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true"
  [allowColumnResizing]="true" columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true"
  (onExporting)="onExporting($event)">
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="virtual" rowRenderingMode="virtual" columnRenderingMode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>

  <dxi-column caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
    [allowSorting]="false" cssClass="vertical-align-middle text-center"></dxi-column>
  <dxi-column caption="Hãng bay" dataField="airlineName" [width]="400" cssClass="vertical-align-middle"></dxi-column>
  <dxi-column caption="Mã đặt chỗ" [width]="400" dataField="bookingNumber" cssClass="vertical-align-middle"></dxi-column>
  <dxi-column caption="Số vé" [width]="400" dataField="ticketNumber" cssClass="vertical-align-middle"></dxi-column>
  <dxi-column caption="Ngày đặt vé" dataField="dateCreated" dataType="date" format="HH:mm dd/MM/yy" cssClass="vertical-align-middle"></dxi-column>
  <!-- <dxi-column caption="Huỷ vé" cssClass="text-center" dataField="status" [width]="200" [fixed]="true"  fixedPosition="right" cellTemplate="cellBillet"></dxi-column> -->

  <!-- <div *dxTemplate="let item of 'cellBillet'">

    <div *ngIf="item.data.status === 'VOIDED'" >
      <a nz-button nzType="link" nzBlock>Xem vé đã huỷ</a>
    </div>

    <div *ngIf="item.data.status === ''" >
      Lỗi không tồn tại vé
    </div>
  </div> -->

  <dxo-summary>
    <dxi-total-item column="passengerName" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>






