.radio-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  label{
    padding: 5px;
  }
}
.form-rating .item{
  margin-bottom: 10px;
}
.radio-group label{
  border: solid 1px #EEE;
  padding-top: 10px;
  text-align: center;
  border-right: none;
  padding-bottom: 6px;
}
.radio-group label:last-child{
  border-right: solid 1px #EEE;
}
