<nz-layout class="layout-vhl">
  <nz-header *ngIf="isShowMenu">
    <div class="logo">
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></span>
      <img class="logo-image-vhl" src="/assets/image/logo-vhl-green.svg">
    </div>
    <div class="user-panel">
      <a nz-dropdown [nzDropdownMenu]="menu" class="sl-user">
        <nz-avatar nzIcon="user" nzSize="small"></nz-avatar>
        <span style="margin-left: 4px;">
          {{username}}
        </span>
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="logout()"><span class="fa fa-sign-out"></span>&nbsp;Đăng xuất</li>
          <li nz-menu-item (click)="showModalUser()">Tài khoản</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout class="container-vhl">
    <nz-sider *ngIf="isShowMenu" [(nzCollapsed)]="isCollapsed" class="menu-vhl" nzCollapsible nzWidth="300px"
      [nzTrigger]="null">
      <!-- <ul nz-menu nzTheme="" [nzMode]="modeMenu ? 'vertical' : 'inline'">
        <li nz-menu-item [nzSelected]="url === '/dashboard' || url === '/'">
          <i nz-icon nzType="home"></i>
          <span>
            <a routerLink="/dashboard">Dashboard</a>
          </span>
        </li>

        <li nz-submenu nzTitle="Quản lý khách hàng" nzIcon="solution">
          <ul>
            <li *ngIf='userInfo.userType == userTypeEnum.SysAdmin' nz-menu-item [nzSelected]="url === '/companies'">
              <i nz-icon nzType="user-switch"></i>
              <span>
                <a routerLink="/companies">Danh sách doanh nghiệp</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/user-register'">
              <i nz-icon nzType="usergroup-add"></i>
              <span>
                <a routerLink="/user-register">Danh sách đăng ký</a>
              </span>
            </li>
          </ul>
        </li>

        <li nz-submenu nzTitle="Quản lý Booking dịch vụ" nzIcon="solution">
          <ul>
            <li nz-submenu nzTitle="Danh sách book vé" nzIcon="snippets">
              <ul>
                <li nz-menu-item [nzSelected]="url === '/booking-service/airline-ticket-booking-request'">
                  <i nz-icon nzType="tag"></i>
                  <span>
                    <a routerLink="/booking-service/airline-ticket-booking-request">Book vé yêu cầu</a>
                  </span>
                </li>
                <li nz-menu-item [nzSelected]="url === '/admin-history-holding-ticket'">
                  <i nz-icon nzType="tag"></i>
                  <span>
                    <a routerLink="/admin-history-holding-ticket">Quản lý giữ vé</a>
                  </span>
                </li>
                <li nz-menu-item [nzSelected]="url === '/admin-ticket'">
                  <i nz-icon nzType="tag"></i>
                  <span>
                    <a routerLink="/admin-ticket">Quản lý xuất vé</a>
                  </span>
                </li>
                <li nz-menu-item [nzSelected]="url === '/admin-void-ticket'">
                  <i nz-icon nzType="tag"></i>
                  <span>
                    <a routerLink="/admin-void-ticket">Quản lý huỷ vé</a>
                  </span>
                </li>
              </ul>
            </li>

            <li nz-menu-item [nzSelected]="url === '/booking-hotel'">
              <i nz-icon nzType="snippets"></i>
              <span>
                <a routerLink="/booking-hotel">Danh sách book lưu trú</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/booking-transport'">
              <i nz-icon nzType="car"></i>
              <span>
                <a routerLink="/booking-transport">Vận chuyển</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/booking-restaurant'">
              <i nz-icon nzType="shop"></i>
              <span>
                <a routerLink="/booking-restaurant">Nhà hàng</a>
              </span>
            </li>
          </ul>
        </li>

        <li nz-submenu nzTitle="Quản lý đối tác" nzIcon="solution">
          <ul>
            <li nz-menu-item [nzSelected]="url === '/airline-ticket-agent'">
              <i nz-icon nzType="shop"></i>
              <span>
                <a routerLink="/airline-ticket-agent">Đại lý vé máy bay</a>
              </span>
            </li>


            <li nz-menu-item [nzSelected]="url === '/partner-transport'">
              <i nz-icon nzType="car"></i>
              <span>
                <a routerLink="/partner-transport">Vận chuyển</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/partner-restaurant'">
              <i nz-icon nzType="shop"></i>
              <span>
                <a routerLink="/partner-restaurant">Nhà hàng</a>
              </span>
            </li>

          </ul>
        </li>

        <li nz-submenu nzTitle="Quản lý dịch vụ" nzIcon="solution">
          <ul>
            <li nz-menu-item [nzSelected]="url === '/airline-ticket-services'">
              <i nz-icon nzType="customer-service"></i>
              <span>
                <a routerLink="/airline-ticket-services">Dịch vụ vé máy bay</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/accommodation-services'">
              <i nz-icon nzType="home"></i>
              <a routerLink="/hotel/list">Dịch vụ lưu trú</a>
            </li>

            <li nz-menu-item [nzSelected]="url === '/partner-transport'">
              <i nz-icon nzType="car"></i>
              <a routerLink="/partner-transport">Vận chuyển</a>
            </li>

            <li nz-menu-item [nzSelected]="url === '/partner-restaurant'">
              <i nz-icon nzType="shop"></i>
              <span>
                <a routerLink="/partner-restaurant">Nhà hàng</a>
              </span>
            </li>

            <li nz-submenu nzTitle="Tiện ích lưu trú" nzIcon="home">
              <ul>
                <li nz-menu-item [nzSelected]="url === '/utility-hotel'">
                  <i nz-icon nzType="home"></i>
                  <span>
                    <a routerLink="/utility-hotel">Tiện ích khách sạn</a>
                  </span>
                </li>
                <li nz-menu-item [nzSelected]="url === '/utility-room'">
                  <i nz-icon nzType="home"></i>
                  <span>
                    <a routerLink="/utility-room">Tiện ích phòng</a>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li nz-submenu nzTitle="Đánh giá" nzIcon="form">
          <ul>
            <li nz-menu-item [nzSelected]="url === '/service-quality-assessment'">
              <i nz-icon nzType="form"></i>
              <span>
                <a routerLink="/service-quality-assessment">Đánh giá chất lượng dịch vụ</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/system-review'">
              <i nz-icon nzType="form"></i>
              <span>
                <a routerLink="/system-review">Đánh giá hệ thống</a>
              </span>
            </li>
          </ul>
        </li>

        <li nz-submenu nzTitle="Quản lý nhân viên" nzIcon="solution">
          <ul>
            <li nz-menu-item [nzSelected]="url === '/employee-management/acccount-list'">
              <i nz-icon nzType="user"></i>
              <span>
                <a routerLink="/employee-management/acccount-list">Danh sách nhân viên</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/employee-management/account-permissions'">
              <i nz-icon nzType="user"></i>
              <span>
                <a routerLink="/employee-management/account-permissions">Xem chi tiết phân quyền</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/employee-management/account-group-list'">
              <i nz-icon nzType="team"></i>
              <span>
                <a routerLink="/employee-management/account-group-list">Danh mục chức danh</a>
              </span>
            </li>

            <li nz-menu-item [nzSelected]="url === '/employee-management/account-group-permissions'">
              <i nz-icon nzType="team"></i>
              <span>
                <a routerLink="/employee-management/account-group-permissions">Phân quyền theo chức vụ</a>
              </span>
            </li>
          </ul>
        </li>

        <li nz-submenu nzTitle="Thống kê dữ liệu" nzIcon="line-chart">
          <ul>
            <li nz-menu-item [nzSelected]="url === '/data-statistics/airline-ticket-booking'">
              <i nz-icon nzType="monitor"></i>
              <span>
                <a routerLink="/data-statistics/airline-ticket-booking">Bảng kê chi tiết vé máy bay</a>
              </span>
            </li>
            <li nz-menu-item [nzSelected]="url === '/data-statistics/accommodation-booking'">
              <i nz-icon nzType="monitor"></i>
              <span>
                <a routerLink="/data-statistics/accommodation-booking">Bảng kê chi tiết khách sạn</a>
              </span>
            </li>
          </ul>
        </li>

        <li nz-menu-item [nzSelected]="url === '/news'">
          <i nz-icon nzType="file-text"></i>
          <span>
            <a routerLink="/news">Tin tức</a>
          </span>
        </li>
      </ul> -->


      <!-- Menu trả về từ backend theoo quyền user -->
      <ul nz-menu nzTheme="" [nzMode]="modeMenu ? 'vertical' : 'inline'">
      <div *ngFor="let menu of menus;let i = index;">
        <li *ngIf="menu.children.length == 0" nz-menu-item [nzSelected]="url == '{{menu.path}}'">
          <i nz-icon nzType="{{menu.iconType}}"></i>
          <span>
            <a routerLink="{{menu.path}}">{{menu.name}}</a>
          </span>
        </li>

        <li *ngIf="menu.children.length > 0" nz-submenu nzTitle="{{menu.name}}" nzIcon="{{menu.iconType}}">
          <ul>
            <div *ngFor="let child of menu.children">

              <li *ngIf="child.children.length == 0" nz-menu-item [nzSelected]="url == '{{child.path}}'">
                <i nz-icon nzType="{{child.iconType}}"></i>
                <span>
                  <a routerLink="{{child.path}}">{{child.name}}</a>
                </span>
              </li>

              <li *ngIf="child.children.length > 0" nz-submenu nzTitle="{{child.name}}" nzIcon="{{child.iconType}}">
                <ul>
                  <div *ngFor="let grandchildren of child.children">
                    <li nz-menu-item [nzSelected]="url == '{{grandchildren.path}}'">
                      <i nz-icon nzType="{{grandchildren.iconType}}"></i>
                      <span>
                        <a routerLink="{{grandchildren.path}}">{{grandchildren.name}}</a>
                      </span>
                    </li>
                  </div>
                </ul>
              </li>
            </div>
          </ul>
        </li>
      </div>
    </ul>
    </nz-sider>
    <nz-content>
      <div class="content-vhl">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>
      <div class="contact-vhl">
        <span> Điện thoại: 09034388xx </span>
        <span class="fa fa-fw fa-phone"></span> Cao Nguyên Việt ©
      </div>
    </nz-footer> -->
  </nz-layout>
</nz-layout>


<!-- <div class="container">
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div> -->
<!--profile-->
<nz-modal nzWidth="800px" *ngIf="selectionData" [(nzVisible)]="isVisibleUser" [nzTitle]="modalTitle"
  nzMaskClosable="false" (nzOnCancel)="handleCancel()">
  <nz-tabset>
    <nz-tab nzTitle="Thông tin chung" (nzClick)="selectedTable(1)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Tên đăng nhập<span class="required">*</span></label>
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="selectionData.username">
        </div>
        <div class="form-group col-md-6">
          <label>Họ và tên</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="selectionData.fullname">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Số điện thoại</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="selectionData.phoneNo">
        </div>
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="selectionData.email">
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Thay đổi mật khẩu" (nzClick)="selectedTable(2)">
      <div class="form-group">
        <label>Mật khẩu hiện tại</label>
        <input type="password" class="form-control form-control-sm" [(ngModel)]="selectionPassword.oldPassword">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Mật khẩu mới</label>
          <input type="password" class="form-control form-control-sm" [(ngModel)]="selectionPassword.password">
        </div>
        <div class="form-group col-md-6">
          <label>Nhập lại mật khẩu</label>
          <input type="password" class="form-control form-control-sm" [(ngModel)]="selectionPassword.repeatPassword">
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancel()">{{'cancel' | translate }}</button>
    <button [disabled]="isDisbled" nz-button nzType="primary" (click)="handleOk()" class="button-submit">Lưu
    </button>
  </div>
</nz-modal>
<!-- <footer>
  <div>
    Điện thoại: 09034388xx
  </div>
  <div>
    <span class="fa fa-fw fa-phone"></span> Cao Nguyên Việt ©
  </div>
</footer> -->
