<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Danh sách khách sạn</h1>

  </div>
  <div class="form-group" style="float: right; display: flex; align-items: center;">
    <!-- Tìm kiếm -->
    <!-- [(ngModel)]="searchText" (keyup.enter)="onSearch()"-->
    <input style="width: 200px; border-radius: 4px; height: 32px;" class="mgr10" nzSize="small" nz-input type="text"
      [(ngModel)]="searchText" (keyup)="onSearch()" placeholder="Tìm kiếm theo tên khách sạn, mã khách sạn, STĐ ...">

    <!-- Nút thêm -->
    <button nz-button nzType="primary" class="ant-btn-primary" type="button" (click)="showModalAddHotel()" *ngIf="checkAdd">
      <em class="fas fa-plus fa-fw" style="margin-right: 4px;"></em> Thêm khách sạn</button>

    <!-- Nút xuất Excel -->
    <button nz-button nzType="primary" class="btn-green mgr10" (click)="exportData()">
      <span class="fa fa-fw fa-file-excel" style="margin-right: 4px;"></span>
      Xuất Excel
    </button>
  </div>
</div>


<dx-data-grid id="gridContainer" [dataSource]="filteredDatas" #ListHotels [showColumnLines]="true" [showRowLines]="true"
  [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true" [allowColumnResizing]="true"
  columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true" (onExporting)="onExporting($event)">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>


  <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="100" fixedPosition="right"
    cellTemplate="cellBtnTemplate"></dxi-column>
  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
    [allowSorting]="false"></dxi-column>
  <dxi-column caption="Tên khách sạn" [width]="200" dataField="name" [fixed]="true"></dxi-column>
  <dxi-column caption="Mã khách sạn" [width]="200" dataField="code" [fixed]="true"></dxi-column>
  <dxi-column caption="Địa chỉ" [width]="200" dataField="address"></dxi-column>
  <dxi-column caption="Số điện thoại" [width]="200" dataField="phoneNo"></dxi-column>
  <dxi-column caption="Email" [width]="300" dataField="contactEmail"></dxi-column>
  <dxi-column caption="Mô tả" [width]="400" dataField="description"></dxi-column>
  <dxi-column caption="Website" [width]="200" dataField="websiteUrl" cellTemplate="cellWebsite"></dxi-column>
  <dxi-column caption="Facebook" [width]="200" dataField="facebook" cellTemplate="cellFacebook" [visible]="false"></dxi-column>
  <dxi-column caption="Hạng" [width]="150" dataField="ratingStar"></dxi-column>
  <dxi-column caption="Số phòng" [width]="150" dataField="numRooms"></dxi-column>
  <dxi-column caption="Hình ảnh khách sạn" [width]="250" dataField="imageUrl" cellTemplate="cellImages"></dxi-column>
  <dxi-column caption="Tiện ích khách sạn" cssClass="text-center" [width]="200" cellTemplate="cellUtilityHotels"></dxi-column>

  <div *dxTemplate="let item of 'cellBtnTemplate'">
    <button title="Xóa khách sạn" nz-button nzSize="small" nzType="default" class="btn-right button-update ant-btn-red"
      (click)="showDeleteConfirm(item.data.id)" *ngIf="checkUpdate">
      <span class="fa fa-times fa-fw"></span>
    </button>
    <button title="Chỉnh sửa thông tin khách sạn" nz-button nzSize="small" nzType="default"
      class="btn-right button-update" (click)="showModalUpdateHotel(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-edit fa-fw"></span>
    </button>
  </div>
  <div *dxTemplate="let linkWebsite of 'cellWebsite'">
    <a *ngIf="linkWebsite.value" href='{{linkWebsite.value}}' target="_blank">Website
      {{linkWebsite.data.name}}</a>
  </div>
  <div *dxTemplate="let linkFacebook of 'cellFacebook'">
    <a *ngIf="linkFacebook.value" href='{{linkFacebook.value}}' target="_blank">Facebook
      {{linkFacebook.data.name}}</a>
  </div>
  <div *dxTemplate="let images of 'cellImages'">
    <button *ngIf="images" nz-button nzSize="small" nzType="dashed" (click)="previewImagesHotel(images.value)">Xem ảnh
      {{images.data.name}}</button>
  </div>

  <div *dxTemplate="let item of 'cellUtilityHotels'">
    <a nz-button nzType="link" (click)="previewDetailUtilityHotels(item.data.utilityHotels)" nzBlock>«Chi tiết»</a>
  </div>

  <div *dxTemplate="let hotel of 'detail'">
    <!-- Nút thêm -->
    <div class="action-button" style="clear: bottom;overflow: hidden;">
      <div class="form-group" style="float: left">
        <h5>DS các phòng KS {{hotel.data.name}}</h5>

      </div>
      <div class="form-group" style="float: right; display: flex; align-items: center;">
        <!-- Tìm kiếm -->

        <!-- Nút thêm -->
        <button nz-button nzType="primary" class="ant-btn-primary" type="button" (click)="showModalAddRoom(hotel.data.id)"
          *ngIf="checkAdd">
          <em class="fas fa-plus fa-fw" style="margin-right: 4px;"></em> Thêm phòng</button>
      </div>
    </div>
    <!-- <dxi-column caption="Địa chỉ" [width]="200">{{hotel.data.name}}</dxi-column> -->
    <dx-data-grid id="gridDetail" [dataSource]="hotel.data.roomHotels" [showBorders]="true">
      <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="100" fixedPosition="right"
      cellTemplate="cellBtnDetailTemplate"></dxi-column>
      <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true"
        [allowFiltering]="false" [allowSorting]="false"></dxi-column>
      <dxi-column caption="Loại phòng"  dataField="name"></dxi-column>
      <dxi-column caption="Miêu tả phòng" [width]="200" dataField="description"></dxi-column>
      <dxi-column caption="Phòng số" [width]="200" dataField="roomNumber"></dxi-column>
      <dxi-column caption="Tầng số" [width]="200" dataField="floorNumber"></dxi-column>
      <dxi-column caption="Giá phòng" [width]="200" dataField="price"></dxi-column>
      <dxi-column caption="Hình ảnh phòng" [width]="200" dataField="imageUrl" cellTemplate="cellImages"></dxi-column>
      <dxi-column caption="Tiện ích phòng" cssClass="text-center" [width]="200"
        cellTemplate="cellUtilityRooms"></dxi-column>
      <div *dxTemplate="let images of 'cellImages'">
        <button *ngIf="images" nz-button nzSize="small" nzType="dashed" (click)="previewImagesHotel(images.value)">Xem
          ảnh</button>
      </div>
      <div *dxTemplate="let room of 'cellUtilityRooms'">
        <a nz-button nzType="link" (click)="previewDetailUtilityRooms(room.data.utilityRooms)" nzBlock>«Chi tiết»</a>
      </div>
      <div *dxTemplate="let room of 'cellBtnDetailTemplate'">
        <button title="Xóa phòng" nz-button nzSize="small" nzType="default" class="btn-right button-update ant-btn-red"
          (click)="showDeleteConfirm(room.data.id)" *ngIf="checkUpdate">
          <span class="fa fa-times fa-fw"></span>
        </button>
        <button title="Chỉnh sửa thông tin phòng" nz-button nzSize="small" nzType="default"
          class="btn-right button-update" (click)="showModalUpdateRoom(hotel.data.id, room.data)" *ngIf="checkUpdate">
          <span class="fa fa-edit fa-fw"></span>
        </button>
      </div>
    </dx-data-grid>
  </div>
  <dxo-summary>
    <dxi-total-item column="name" displayFormat="Số bản ghi: {0}" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>

<form [formGroup]="formAddHotel" (ngSubmit)="saveNewHotel()">
  <nz-modal [(nzVisible)]="isVisibleAddHotel" nzClosable="false" [nzTitle]="titleHotel" nzMaskClosable="false">
    <ng-template #titleHotel>
      {{titleFormHotel}}
      <div class="pull-right icon-close">
        <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
      </div>
    </ng-template>


    <div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tên khách sạn<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="name" type="text" [ngClass]="{ 'is-invalid': submitted && formControlHotel.name.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Mã khách sạn<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="code" type="text" [ngClass]="{ 'is-invalid': submitted && formControlHotel.code.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Số điện thoại<em class="fa fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="phoneNo" type="tel"
            [ngClass]="{ 'is-invalid': submitted && formControlHotel.phoneNo.errors?.required }" />
        </div>
      </div>

      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Email<em class="fa fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input type="email" nz-input formControlName="contactEmail" type="text"
            [ngClass]="{ 'is-invalid': submitted && formControlHotel.contactEmail.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Địa chỉ<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="address" type="text"
            [ngClass]="{ 'is-invalid': submitted && formControlHotel.address.errors?.required }" />
        </div>
      </div>

      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Mô tả</label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="description" type="text"/>
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Website<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="websiteUrl" type="text"
            [ngClass]="{ 'is-invalid': submitted && formControlHotel.websiteUrl.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Hạng<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="ratingStar" type="number"
            [ngClass]="{ 'is-invalid': submitted && formControlHotel.ratingStar.errors?.required }" />
        </div>
      </div>



      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Số phòng<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="numRooms" type="number"
            [ngClass]="{ 'is-invalid': submitted && formControlHotel.numRooms.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tiện ích khách sạn:<em
            class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <nz-select nzMode="multiple" nzPlaceHolder="--Tiện ích khách sạn--" formControlName="utilityHotels">
            <nz-option *ngFor="let hotel of listUtilityHotel" nzLabel="{{hotel.name}}" [nzValue]="hotel.id"></nz-option>
          </nz-select>
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Ảnh khách sạn<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <nz-upload [nzAction]="uploadUrl" nzName="postedFile" [nzHeaders]="uploadHeader"
            (nzChange)="handleChangeImages($event, 'hotel')" [nzFileList]="fileList">
            <button nz-button>
              <span nz-icon nzType="upload"></span>
              Nhấn để tải ảnh
            </button>
          </nz-upload>
        </div>
      </div>




      <!-- <div class="clearfix">
        <nz-upload class="upload-list-inline" nzAction="" nzListType="picture" [(nzFileList)]="imagesForm"
          (nzChange)="handleChange($event)">
          <button nz-button>
            <span>
              <span nz-icon nzType="upload"></span>
              Tải ảnh khách sạn
            </span>
          </button>
        </nz-upload>
      </div> -->
    </div>

    <div *nzModalFooter>
      <button nz-button (click)="handleCancel()">{{'cancel' | translate }}</button>
      <button nz-button nzType="primary" (click)="saveNewHotel()" class="button-submit">{{'save' | translate }}</button>
    </div>
  </nz-modal>
</form>


<form [formGroup]="formAddRoom" (ngSubmit)="saveNewRoom()">
  <nz-modal [(nzVisible)]="isVisibleAddRoom" nzClosable="false" [nzTitle]="titleRoom" nzMaskClosable="false">
    <ng-template #titleRoom>
      {{titleFormRoom}}
      <div class="pull-right icon-close">
        <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
      </div>
    </ng-template>


    <div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Loại phòng<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="name" [ngClass]="{ 'is-invalid': submitted && formControlRoom.name.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Mô tả</label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="description" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Phòng số<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="roomNumber"
            [ngClass]="{ 'is-invalid': submitted && formControlRoom.roomNumber.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tầng số<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="floorNumber"
            [ngClass]="{ 'is-invalid': submitted && formControlRoom.floorNumber.errors?.required }" />
        </div>
      </div>



      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Giá phòng<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="price"
            [ngClass]="{ 'is-invalid': submitted && formControlRoom.price.errors?.required }" />
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tiện ích phòng:<em
            class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <nz-select nzMode="multiple" nzPlaceHolder="--Tiện ích phòng--" formControlName="utilityRooms">
            <nz-option *ngFor="let room of listUtilityRoom" nzLabel="{{room.name}}" [nzValue]="room.id"></nz-option>
          </nz-select>
        </div>
      </div>


      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Ảnh phòng<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <nz-upload [nzAction]="uploadUrl" nzName="postedFile" [nzHeaders]="uploadHeader"
            (nzChange)="handleChangeImages($event, 'room')" [nzFileList]="fileList">
            <button nz-button>
              <span nz-icon nzType="upload"></span>
              Nhấn để tải ảnh
            </button>
          </nz-upload>
        </div>
      </div>

    </div>

    <div *nzModalFooter>
      <button nz-button (click)="handleCancel()">{{'cancel' | translate }}</button>
      <button nz-button nzType="primary" (click)="saveNewRoom()" class="button-submit">{{'save' | translate }}</button>
    </div>
  </nz-modal>
</form>

<nz-modal [(nzVisible)]="isVisibleDetailUtility" nzTitle="Thông tin chi tiết" [nzContent]="contentDetail" [nzFooter]="footerDetail"
  nzWidth="1500px" (nzOnCancel)="handleCancel()">
  <ng-template #contentDetail>
    <dx-data-grid id="gridContainer" [dataSource]="listDetailUtility" [showColumnLines]="true" [showRowLines]="true"
      [height]="dxGridHeight" [rowAlternationEnabled]="true" [showBorders]="true" [allowColumnResizing]="true"
      columnResizingMode="widget" [columnMinWidth]="50" [columnAutoWidth]="true">


      <dxo-load-panel [enabled]="true"></dxo-load-panel>`
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>

      <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true"
        [allowFiltering]="false" [allowSorting]="false"></dxi-column>
      <dxi-column caption="Tiện ích" [fixed]="true" [width]="150" dataField="name"
        cssClass="vertical-align-middle"></dxi-column>

      <dxo-summary>
        <dxi-total-item column="name" displayFormat="Số bản ghi: {0}" summaryType="count">
        </dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </ng-template>

  <ng-template #footerDetail> </ng-template>
</nz-modal>
