::ng-deep {
  .circle-button {
    position: relative;
    border-radius: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    20%,
    60% {
      transform: translateX(-2px);
    }

    40%,
    80% {
      transform: translateX(2px);
    }
  }

  .unread-badge-common {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 0.2rem 0.4rem;
    font-size: x-small;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Sử dụng khi tổng số chưa đọc <= 99 */
  .unread-badge {
    top: -8px;
    right: -8px;
  }

  /* Sử dụng khi tổng số chưa đọc > 99 */
  .unread-badge-99 {
    top: -9px;
    right: -15px;
  }

  .circle-button:hover .unread-badge-common {
    animation: shake 0.5s ease-in-out 1;
    animation-fill-mode: forwards;
  }


  .font-size-dot-read {
    font-size: 0.5rem !important;
  }

  .dropdown-container {
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Áp dụng bóng đổ */
  }

  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .title {
    font-size: x-large;
  }

  .mark-read {
    display: flex;
    align-items: center;
  }

  .read-all {
    margin-left: 2px;
    cursor: pointer;
  }

  .read-all:hover {
    text-decoration: underline;
    color: #0056b3;
    /* Tùy chỉnh màu khi hover */
  }

  .notifications-list {
    border-radius: 1px;
    max-height: 75vh;
    overflow: auto;
  }

  .notification-item {
    border-radius: 2px;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .center-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notification-content {
    flex-grow: 1;
  }

  .notification-text {
    margin-bottom: 0.5rem;
    width: 50vh;
    /* Độ rộng cố định */
    white-space: nowrap;
    /* Không cho phép xuống dòng */
    overflow: hidden;
    /* Ẩn phần nội dung vượt quá */
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." */
  }

  .notification-date {
    opacity: 0.5;
  }

  .notification-status {
    margin-left: 0.5rem;
  }

  .view-all-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }

  .view-all {
    color: #208FFF;
    text-decoration: underline;
  }
}
