<nz-button-group style="margin-right: 1rem ;">
  <button nz-button nzShape="circle" class="circle-button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuTopNotify"
    [nzClickHide]="false" nzPlacement="bottomRight">
    <span nz-icon nzType="bell"></span>
    <div *ngIf="totalUnRead <= 9" class="unread-badge-common unread-badge">{{ totalUnRead }}</div>

    <ng-container *ngIf="totalUnRead >= 10 && totalUnRead <= 99; else moreThan99">
      <div class="unread-badge-common unread-badge">{{ totalUnRead }}</div>
    </ng-container>

    <ng-template #moreThan99>
      <div class="unread-badge-common unread-badge-99">99+</div>
    </ng-template>
  </button>
</nz-button-group>

<nz-dropdown-menu #menuTopNotify="nzDropdownMenu" class="menuTopNotifyCSS">
  <div class="dropdown-container">
    <div class="header">
      <div class="title">Thông báo</div>
      <div class="mark-read" (click)="handleReadedAllNotifications()">
        <span class="fa fa-check-double fa-fw"></span>
        <span class="read-all">Đánh dấu đã đọc tất cả</span>
      </div>
    </div>
    <ul nz-menu class="notifications-list">
      <ng-container *ngFor="let topNotify of topNotifications; let i = index">
        <li nz-menu-item class="notification-item" title="{{topNotify.contentNotification}}"
          (click)="handleReadedNotify(topNotify)">
          <div class="center-box">
            <div class="notification-content">
              <div class="notification-text">
                {{topNotify.contentNotification}}
              </div>
              <div class="notification-date">
                {{topNotify.datelog | dateFormat : Constant.DATE_FMT_HOUR }}
              </div>
            </div>
            <div class="notification-status">
              <span
                [style.color]="ColorStatusNotifications[topNotify.readed? NotificationVHLEnum.READ : NotificationVHLEnum.UNREAD]"
                class="font-size-dot-read fa fa-circle fa-fw"></span>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
    <div class="view-all-container">
      <span class="read-all view-all" (click)="handleNavigatePageNotifications()">Xem toàn bộ thông báo</span>
    </div>
  </div>
</nz-dropdown-menu>
