.inner-box {
  background: #fff;
  padding: 8px;
}


div.content-create-company {
  height: 100%;
  background: #F8F9FA;
  padding: 8px;
}

.text-aligin-center {
  text-align: center;
}


.fs-xl {
  font-size: x-large;
}


.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
