<form [formGroup]="formAddHotel">
  <div class="edit-hotel">
    <div class="header">
      <div class="header-title">
        {{titleFormHotel}}
      </div>
    </div>


    <div class="content">
      <div style="display: flex;">
        <div style="width: 40%;">
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Tên khách sạn<em
                class="fas fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <input nz-input formControlName="name" type="text"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.name.errors?.required }" />
            </div>
          </div>
          <!-- <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Mã khách sạn<em
                class="fas fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <input nz-input formControlName="code" type="text"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.code.errors?.required }" />
            </div>
          </div> -->
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Số điện thoại:<em
                class="fa fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <input nz-input formControlName="phoneNo" type="tel"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.phoneNo.errors?.required }" />
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Email:<em class="fa fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <input type="email" nz-input formControlName="contactEmail" type="text"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.contactEmail.errors?.required }" />
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Địa chỉ:<em class="fas fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <input nz-input formControlName="address" type="text"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.address.errors?.required }" />
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Tỉnh/Thành:<em
                class="fas fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Tỉnh thành phố--" formControlName="provinceId"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.provinceId.errors?.required }"
                (ngModelChange)="getDistrictsById($event)">
                <nz-option *ngFor="let pro of provinces" nzLabel="{{pro.name}}" [nzValue]="pro.id"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Quận/Huyện:<em
                class="fas fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <nz-select nzShowSearch nzMode="default" nzPlaceHolder="--Quận/Huyện--" [nzDisabled]="!districts"
                formControlName="districtId"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.districtId.errors?.required }">
                <nz-option *ngFor="let dis of districts" nzLabel="{{dis.name}}" [nzValue]="dis.id"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Website:<em class="fas fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <input nz-input formControlName="websiteUrl" type="text"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.websiteUrl.errors?.required }" />
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Hạng:<em class="fas fa-asterisk required"></em></label>

            <div nz-col [nzSpan]="16">
              <nz-rate formControlName="ratingStar" [nzTooltips]="tooltipRatingStars" nzAllowHalf [ngModelOptions]="
              {standalone: true}"></nz-rate>
              <!-- <input nz-input formControlName="ratingStar" type="number"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.ratingStar.errors?.required }" /> -->
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Số phòng:</label>
            <div nz-col [nzSpan]="16">
              <input nz-input formControlName="numRooms" type="number" />
              <!-- <input nz-input formControlName="numRooms" type="number"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.numRooms.errors?.required }" /> -->
            </div>
          </div>
          <div class="input-wrap" nz-row>
            <label class="title-detail" nz-col [nzSpan]="6">Tiện ích khách sạn:<em
                class="fas fa-asterisk required"></em></label>
            <div nz-col [nzSpan]="16">
              <nz-select nzMode="multiple" nzPlaceHolder="--Tiện ích khách sạn--" formControlName="utilitieIds"
                [ngClass]="{ 'is-invalid': submitted && formControlHotel.websiteUrl.errors?.required }">
                <nz-option *ngFor="let hotel of listUtilityHotel" nzLabel="{{hotel.name}}"
                  [nzValue]="hotel.id"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div style="width: 60%">
          <div>
            <label class="title-detail" nz-col [nzSpan]="4">Mô tả khách sạn:</label>
            <div nz-col [nzSpan]="24">
              <!-- <textarea nz-input formControlName="description" placeholder="Mô tả khách sạn ..."
                [nzAutosize]="{ minRows: 4, maxRows: 8 }"></textarea> -->
              <!-- <input nz-input formControlName="description" type="text" /> -->
              <angular-editor [placeholder]="'Mô tả khách sạn ...'" formControlName="description"
                [config]="configDescriptionHotel"></angular-editor>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-wrap" nz-row>
          <label class="title-detail" nz-col style="width: 10%;">Ảnh khách sạn<em
              class="fas fa-asterisk required"></em></label>
          <div nz-col style="width: 90%;">
            <nz-upload class="upload-list-inline" [nzMultiple]="true" [nzAction]="uploadUrl" nzName="postedFile"
              [nzHeaders]="uploadHeader" nzListType="picture" [nzRemove]="handleRemoveImageHotel"
              (nzChange)="handleChangeImages($event, 'hotel')" [nzFileList]="fileList">
              <button nz-button>
                <span nz-icon nzType="upload"></span>
                Nhấn để tải ảnh
              </button>
            </nz-upload>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-btn-buttons">
        <button nz-button (click)="handleCancel()">{{'cancel' | translate }}</button>
        <button nz-button nzType="primary" (click)="saveHotel()" class="button-submit">{{'save' | translate }}</button>
      </div>
    </div>
  </div>
</form>
