<div class="action-button" style="clear: bottom;overflow: hidden;">
  <div class="form-group" style="float: left">
    <h1>Danh sách tài khoản</h1>
  </div>
  <div class="form-group" style="float: right">
    <button nz-button nzType="primary" class="btn-add-asset" type="button" (click)="showModalAdd()" *ngIf="checkAdd">
      <em class="fas fa-plus fa-fw"></em> Thêm
    </button>
  </div>
</div>


<dx-data-grid
  id="gridContainer"
  [dataSource]="datas"
  #BaoGiaGrid
  [showColumnLines]="true"
  [showRowLines]="true"
  [height]="dxGridHeight"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  columnResizingMode="widget"
  [columnMinWidth]="50"
  [columnAutoWidth]="true"
>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxi-column cssClass="text-center" caption="Action" [fixed]="true" [width]="170" fixedPosition="right"
              cellTemplate="cellBtnTemplate"></dxi-column>
  <dxi-column cssClass="text-center" caption="STT" [width]="55" dataField="stt" [fixed]="true" [allowFiltering]="false"
              [allowSorting]="false"></dxi-column>
  <dxi-column caption="Họ tên" [width]="230" dataField="fullname" [fixed]="true"></dxi-column>
  <dxi-column caption="Tài khoản" [width]="150" dataField="username" [fixed]="true"></dxi-column>
  <dxi-column caption="Tỉnh/TP" [width]="150" dataField="tinhThanh.name"></dxi-column>
  <dxi-column caption="Quận/Huyện" [width]="150" dataField="quanHuyen.name"></dxi-column>
  <dxi-column caption="User ID	" [width]="80" dataField="id"></dxi-column>
  <dxi-column caption="Phân quyền" dataField="roleStr"></dxi-column>
  <dxi-column caption="Số điện thoại" [width]="150" dataField="phoneNo"></dxi-column>
  <dxi-column caption="Email" [width]="140" dataField="email"></dxi-column>
  <div *dxTemplate="let item of 'cellBtnTemplate'">
    <button title="Xóa tài khoản" nz-button nzSize="small" nzType="default" class="btn-right button-update"
            (click)="onDeleteClick(item.data.id)" *ngIf="checkUpdate">
      <span class="fa fa-times fa-fw"></span>
    </button>
    <button title="Thông tin tài khoản" nz-button nzSize="small" nzType="default" class="btn-right button-update"
            (click)="showModalUpdate(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-edit fa-fw"></span>
    </button>
    <button title="Danh sách nhóm" nz-button nzSize="small" nzType="default" class="btn-right button-update"
            (click)="showModalUserGroup(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-user fa-fw"></span>
    </button>
    <button title="Đổi mật khẩu" nz-button nzSize="small" nzType="default" class="btn-right button-update"
            (click)="showModalPassword(item.data)" *ngIf="checkUpdate">
      <span class="fa fa-key fa-fw"></span>
    </button>
  </div>
  <dxo-summary>
    <dxi-total-item
      column="fullname"
      displayFormat="Số bản ghi: {0}"
      summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>

<!--<nz-table #basic [nzData]="datas"
          (nzCurrentPageDataChange)="currentPageDataChange($event)"
          [nzPageSizeOptions]="pageSize" [nzPageSize]="defaultPage"
          nzShowSizeChanger [nzShowTotal]="rangeTemplate" [nzLoading]="loading">
  <thead>
  <tr>
    <th class="text-nowrap text-center" width="50px">#</th>
    <th class="text-nowrap">Họ tên</th>
    <th class="text-nowrap">Tài khoản</th>
    <th class="text-nowrap">Tỉnh/TP</th>
    <th class="text-nowrap">Quận/Huyện</th>
    <th class="text-nowrap">User ID</th>
    <th class="text-nowrap">Phân quyền</th>
    <th class="text-nowrap">Số điện thoại</th>
    <th class="text-nowrap">Email</th>
    &lt;!&ndash; <th class="text-nowrap">Status</th> &ndash;&gt;
    <th nzWidth="180px" class="text-nowrap text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basic.data;let i = index;">
    <td class="text-nowrap  text-center">{{getRowIndex(i, basic.nzPageIndex, basic.nzPageSize)}}</td>
    <td class="text-nowrap">{{ data.fullname }}</td>
    <td class="text-nowrap">{{ data.username }}</td>
    <td class="text-nowrap">{{ data.tinhThanh?.name }}</td>
    <td class="text-nowrap">{{ data.quanHuyen?.name }}</td>
    <td class="text-nowrap">{{ data.id }}</td>
    <td class="text-nowrap crop-long-text">{{ getQuyen(data.userroles) }}</td>
    <td class="text-nowrap">{{ data.phoneNo }}</td>
    <td class="text-nowrap">{{ data.email }}</td>
    &lt;!&ndash; <td class="text-nowrap">{{ getUserStatus(data.status) }}</td> &ndash;&gt;
    <td class="text">

    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
</ng-template>-->

<form [formGroup]="formAdd" (ngSubmit)="handleOk()">
  <nz-modal [(nzVisible)]="isVisibleAdd" nzClosable="false" [nzTitle]="title" nzMaskClosable="false">
    <ng-template #title>
      Thông tin tài khoản
      <div class="pull-right icon-close">
        <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
      </div>
    </ng-template>
    <div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Họ tên<em class="fas fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="fullname" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"/>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Mã nhân viên</label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="staffCode" [ngClass]="{ 'is-invalid': submitted && f.staffCode.errors }"/>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Số điện thoại</label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="phoneNo"/>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Email</label>
        <div nz-col [nzSpan]="16">
          <input type="email" nz-input formControlName="email"/>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Tỉnh thành</label>
        <div nz-col [nzSpan]="16">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn tỉnh/thành phố" formControlName="tinhThanhId">
            <nz-option *ngFor="let option of tinhThanhs" [nzLabel]="option.name" [nzValue]="option.idTinhThanh"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Quận huyện</label>
        <div nz-col [nzSpan]="16">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn quận huyện/đơn vị" formControlName="quanHuyenId">
            <nz-option *ngFor="let option of quanHuyens" [nzLabel]="option.name" [nzValue]="option.idTinhThanh"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="input-wrap" nz-row [hidden]=updated>
        <label class="title-detail" nz-col [nzSpan]="8">Tài khoản<em class="fa fa-asterisk required"></em></label>
        <div nz-col [nzSpan]="16">
          <input nz-input formControlName="username"/>
        </div>
      </div>
      <div [hidden]=updated>
        <div class="input-wrap" nz-row>
          <label class="title-detail" nz-col [nzSpan]="8">Mật khẩu<em class="fa fa-asterisk required"></em></label>
          <div nz-col [nzSpan]="16">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu"
                     formControlName="password"/>
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                 (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </div>
        </div>
        <div class="input-wrap" nz-row>
          <label class="title-detail" nz-col [nzSpan]="8">Nhắc lại<em class="fa fa-asterisk required"></em></label>
          <div nz-col [nzSpan]="16">
            <nz-input-group [nzSuffix]="suffixRepeatTemplate">
              <input [type]="repeatpasswordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu"
                     formControlName="repeatPassword"/>
            </nz-input-group>
            <ng-template #suffixRepeatTemplate>
              <i nz-icon [nzType]="repeatpasswordVisible ? 'eye-invisible' : 'eye'"
                 (click)="repeatpasswordVisible = !repeatpasswordVisible"></i>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="input-wrap" nz-row>
        <label class="title-detail" nz-col [nzSpan]="8">Danh sách quyền riêng</label>
        <div nz-col [nzSpan]="16">
          <nz-select nzMode="multiple" nzPlaceHolder="--Chọn quyền--" formControlName="roles" style="width:200px">
            <nz-option *ngFor="let item of allRoles" nzLabel="{{item.name}}" [nzValue]="item.id"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div *nzModalFooter>
      <button nz-button (click)="handleCancel()">{{'cancel' | translate }}</button>
      <button nz-button nzType="primary" (click)="handleOk()" class="button-submit">{{'save' | translate }}</button>
    </div>
  </nz-modal>
</form>

<form [formGroup]="formPassword" (ngSubmit)="handleOkPassword()">
  <nz-modal [(nzVisible)]="isVisiblePassword" nzClosable="false" [nzTitle]="titlePassword" nzMaskClosable="false">
    <ng-template #titlePassword>
      Đổi mật khẩu
      <div class="pull-right icon-close">
        <em (click)="handleCancelPassword()" nz-icon nzType="close" nzTheme="outline"></em>
      </div>
    </ng-template>
    <div class="input-wrap">
      <label class="title-detail" nz-col [nzSpan]="8">Mật khẩu<em class="fa fa-asterisk required"></em></label>
      <nz-input-group style="width: auto !important;" [nzSuffix]="suffixTemplate" nz-col [nzSpan]="16">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu"
               formControlName="password"/>
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
           (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </div>
    <div class="input-wrap">
      <label class="title-detail" nz-col [nzSpan]="8">Nhắc lại<em class="fa fa-asterisk required"></em></label>
      <nz-input-group style="width: auto !important;" [nzSuffix]="suffixRepeatTemplate" nz-col [nzSpan]="16">
        <input [type]="repeatpasswordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu"
               formControlName="repeatPassword"/>
      </nz-input-group>
      <ng-template #suffixRepeatTemplate>
        <i nz-icon [nzType]="repeatpasswordVisible ? 'eye-invisible' : 'eye'"
           (click)="repeatpasswordVisible = !repeatpasswordVisible"></i>
      </ng-template>
    </div>
    <!-- Footer -->
    <div *nzModalFooter>
      <button nz-button (click)="handleCancelPassword()">{{'cancel' | translate }}</button>
      <button nz-button nzType="primary" (click)="handleOkPassword()"
              class="button-submit">{{'save' | translate }}</button>
    </div>
  </nz-modal>
</form>

<nz-modal [(nzVisible)]="isVisibleUserGroup" nzClosable="false" [nzTitle]="titleUserGroup" nzMaskClosable="false">
  <ng-template #titleUserGroup>
    Danh sách nhóm
    <div class="pull-right icon-close">
      <em (click)="handleCancelUserGroup()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>
  <div class="row">
    <div class="col-md-9">
      <nz-select style="width: 100%"
                 nzShowSearch
                 [(ngModel)]="chooseGroup"
                 nzPlaceHolder="Chọn nhóm tài khoản" class="input-search"
                 [nzShowArrow]="true">
        <nz-option *ngFor="let o of groups" [nzLabel]="o.name" [nzValue]="o">
        </nz-option>
      </nz-select>
    </div>
    <div class="col-md-3">
      <button nz-button nzType="primary" (click)="addGroup2User()" class="button-submit right">Thêm mới</button>
    </div>
  </div>
  <br>
  <div class="data-table">
    <nz-table #basicTable [nzData]="usergroups"
              [nzPageSizeOptions]="pageSize" [nzPageSize]="defaultPage"
              nzShowSizeChanger [nzShowTotal]="rangeTemplate" [nzLoading]="loading">
      <thead>
      <tr>
        <th class="text-nowrap" width="50px">#</th>
        <th class="text-nowrap">Tên nhóm</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of usergroups;let i = index;">
        <td class="text-nowrap">{{i + 1}}</td>
        <td class="text-nowrap">{{ data.name }}</td>
        <td class="text-nowrap">
          <button title="Xóa nhóm" nz-button nzSize="small" nzType="default" class="btn-right button-update"
                  (click)="showConfirmRemoveGroup(data.id)">
            <span class="fa fa-times fa-fw"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
    </ng-template>
  </div>
  <!-- Footer -->
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelUserGroup()">{{'cancel' | translate }}</button>
  </div>
</nz-modal>
