<nz-modal [(nzVisible)]="isVisibleRequestDepositAccount" nzTitle="Xác nhận nạp tiền vào tài khoản"
  [nzOkLoading]="isDepositAccountOkLoading" nzMaskClosable="false">
  <div *nzModalContent>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="!isConfirmed">
      <div nz-col class="gutter-row" [nzSpan]="24">
        <form [formGroup]="formRequestDepositAccount">
          <div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
              style="display: flex; align-items: center; padding: 8px 0;">
              <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                Số tiền nạp vào
                <span style="color: tomato; margin-left: 4px;">*</span>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="16">
                <dx-number-box [min]="0" formControlName='amountDeposited' placeholder="Nhập số tiền nạp vào"
                  format="#,##0 VNĐ"></dx-number-box>
              </div>
            </div>

            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
              style="display: flex; align-items: center; padding: 8px 0;">
              <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                Người thực hiện
                <span style="color: tomato; margin-left: 4px;">*</span>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="16">
                <nz-select style="border-radius: 4px;" nzSize="default" nzMode="default"
                  formControlName='implementPersonId' nzPlaceHolder="Chọn người thực hiện" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let employee of employees" nzLabel="{{employee.fullname}} - {{employee.username}}"
                    [nzValue]="employee.id"></nz-option>
                </nz-select>
              </div>
            </div>

            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
              style="display: flex; align-items: center; padding: 8px 0;">
              <div nz-col class="gutter-row" [nzSpan]="8" style="display: flex; align-items: center;">
                Nội dung nạp tiền
                <span style="color: tomato; margin-left: 4px;">*</span>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="16">
                <input style="border-radius: 4px;" nzSize="default" nz-input type="text"
                  formControlName='depositContent' placeholder="Nạp tiền vào tài khoản">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="isConfirmed">
      <p>Khách hàng đã được nhân viên <strong>{{customerDeposit?.fullnameConfirmer != null ?
          customerDeposit?.fullnameConfirmer : "" }}</strong> cập nhật
        thành công lúc
        <strong>{{customerDeposit.confirmationTime != null ? (customerDeposit.confirmationTime | dateFormat :
          Constant.DATE_FMT_HOUR): ""}}</strong>
      </p>
    </div>

  </div>

  <div *nzModalFooter>
    <div *ngIf="!isConfirmed">
      <button nz-button nzDanger nzType="text" (click)="handlRequestDepositAccountCancel()">
        <div style="display: flex; align-items: center;">
          <span nz-icon nzType="close"></span>
          <span style="margin-left: 4px; line-height: normal;">Huỷ</span>
        </div>
      </button>

      <!-- [nzLoading]="isDepositAccountOkLoading"  -->
      <button nz-button nzType="default" style="margin-right: 8px;" (click)="handleConfirmDepositAccountSave()">
        <div style="display: flex; align-items: center;">
          <span nz-icon nzType="save"></span>
          <span style="margin-left: 6px; line-height: normal;">Xác nhận</span>
        </div>
      </button>
    </div>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleContentConfirmDeposit" nzTitle="Nội dung ghi chú">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="24">
        <form [formGroup]="formRequestDepositAccount">
          <p>
            Nội dung ghi chú<span style="color: tomato;">*</span>
          </p>
          <small style="font-style: italic;">
            (Nội dung ghi chú cần điền để giải thích sự khác biệt trong thông tin xác nhận nạp tiền tài khoản)
          </small>
          <input formControlName='note' nz-input placeholder="Nội dung ghi chú ..." nzSize="small" />
        </form>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzDanger nzType="text" (click)="handleCancelContentConfirmDeposit()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="close"></span>
        <span style="margin-left: 4px; line-height: normal;">Huỷ</span>
      </div>
    </button>

    <!-- [nzLoading]="isDepositAccountOkLoading"  -->
    <button nz-button nzType="default" style="margin-right: 8px;" (click)="handleOkContentConfirmDeposit()">
      <div style="display: flex; align-items: center;">
        <span nz-icon nzType="save"></span>
        <span style="margin-left: 6px; line-height: normal;">Xác nhận</span>
      </div>
    </button>
  </div>
</nz-modal>
